Repository yugabyte/yugabyte-db, pull requests merged in 2020-02, with the labels that each got.

#3508 [DOCS] add install-new-version to upgrade-steps
  docs/content/latest/manage/upgrade-deployment.md
Labels: area/documentation

#3509 [DOCS] fix c# driver install link with our fork
  docs/content/latest/quick-start/build-apps/ycql/csharp.md
  docs/static/images/develop/client-drivers/csharp/visual-studio-add-package.png
  docs/static/images/develop/client-drivers/csharp/visual-studio-search-cassandra-package.png
  docs/static/images/develop/client-drivers/csharp/visual-studio-search-ngpsql-package.png
Labels: area/documentation

#3300 explain location of logs in different deployment scenarios
  docs/content/latest/troubleshoot/nodes/check-logs.md
Labels: area/documentation

#3414 [docs] Add yb-ts-cli to CLIs reference
  docs/content/latest/admin/_index.html
  docs/content/latest/admin/yb-ctl.md
  docs/content/latest/admin/yb-ts-cli.md
  docs/content/latest/admin/ysql-dump.md
  docs/content/latest/admin/ysql-dumpall.md
Labels: area/documentation

#3578 [dcos] Add new server-server encryption support for ysql
  docs/content/latest/secure/_index.html
  docs/content/latest/secure/encryption-at-rest.md
  docs/content/latest/secure/security-checklist.md
  docs/content/latest/secure/tls-encryption/_index.md
  docs/content/latest/secure/tls-encryption/client-to-server.md
  docs/content/latest/secure/tls-encryption/prepare-nodes.md
  docs/content/latest/secure/tls-encryption/server-to-server.md
Labels: area/documentation

#3556 Update docker-compose file to add volume mounts
  docs/content/latest/deploy/docker/docker-compose.md
Labels: area/cloud

#3523 docs: explain cloudformation local disks
  docs/content/latest/deploy/public-clouds/aws/cloudformation.md
Labels: area/documentation

#3496 recover-disk draft
  docs/content/latest/troubleshoot/nodes/_index.md
  docs/content/latest/troubleshoot/nodes/recover-disk.md
Labels: area/documentation

#3597 Add a client to the docker-compose example
  docs/content/latest/deploy/docker/docker-compose.md
Labels: area/documentation

#3612 [docs] Add three missing images
  docs/static/images/develop/graphql/hasura/hasura.png
  docs/static/images/develop/graphql/prisma/create-user-jane.png
  docs/static/images/develop/graphql/prisma/prisma.png
Labels: area/documentation

#3613 [docs] Fix image references
  docs/content/latest/explore/auto-sharding-docker.md
  docs/content/latest/explore/auto-sharding-kubernetes.md
  docs/content/latest/explore/auto-sharding-linux.md
  docs/content/latest/explore/auto-sharding-macos.md
  docs/content/latest/explore/fault-tolerance-docker.md
  docs/content/latest/explore/fault-tolerance-kubernetes.md
  docs/content/latest/explore/fault-tolerance-linux.md
  docs/content/latest/explore/fault-tolerance-macos.md
  docs/content/latest/explore/linear-scalability-docker.md
  docs/content/latest/explore/linear-scalability-kubernetes.md
  docs/content/latest/explore/linear-scalability-linux.md
  docs/content/latest/explore/linear-scalability-macos.md
  docs/content/latest/explore/observability-docker.md
  docs/content/latest/explore/observability-kubernetes.md
  docs/content/latest/explore/observability-linux.md
  docs/content/latest/explore/observability-macos.md
Labels: area/documentation

#3075 docs: partition_hash explained
  docs/content/latest/api/ycql/expr_fcall.md
Labels: area/documentation

#3560 [DOCS] explain --cql_table_is_transactional_by_default
  docs/content/latest/reference/configuration/yb-tserver.md
Labels: area/docdb

#3548 docs: initial clion setup
  docs/content/latest/contribute/core-database/clion-setup.md
  docs/static/images/contribute/clion-cmake-options-ninja.png
  docs/static/images/contribute/clion-cmake-options.png
Labels: area/documentation

#3655 [docs] Update titles and naming
  docs/content/latest/secure/tls-encryption/_index.html
  docs/content/latest/secure/tls-encryption/client-certificates.md
  docs/content/latest/secure/tls-encryption/client-to-server.md
  docs/content/latest/secure/tls-encryption/connect-to-cluster.md
  docs/content/latest/secure/tls-encryption/server-certificates.md
  docs/content/latest/secure/tls-encryption/server-to-server.md
Labels: area/documentation

#3690 [docs] Fix prerequisite for enabling client-server encryption
  docs/content/latest/secure/tls-encryption/client-to-server.md
Labels: area/documentation

#3221 YugabyteDB deploy instructions using OLM
  docs/content/latest/deploy/kubernetes/_index.html
  docs/content/latest/deploy/kubernetes/oss/helm-chart.md
  docs/content/latest/deploy/kubernetes/oss/operator-hub.md
  docs/content/latest/deploy/kubernetes/oss/rook-operator.md
  docs/content/latest/deploy/kubernetes/oss/yugabyte-operator.md
Labels: area/documentation

#3694 [docs] Add new Benchmark structure and add new content
  docs/content/latest/benchmark/_index.html
  docs/content/latest/benchmark/key-value-workload-ycql.md
  docs/content/latest/benchmark/key-value-workload-ysql.md
  docs/content/latest/benchmark/large-datasets-ycql.md
  docs/content/latest/benchmark/large-datasets-ysql.md
  docs/content/latest/benchmark/large-datasets.md
  docs/content/latest/benchmark/resilience/_index.md
  docs/content/latest/benchmark/resilience/jepsen-testing-ycql.md
  docs/content/latest/benchmark/resilience/jepsen-testing-ysql.md
  docs/content/latest/benchmark/scalability/_index.md
  docs/content/latest/benchmark/scalability/scaling-queries-ycql.md
  docs/content/latest/benchmark/scalability/scaling-queries-ysql.md
  docs/content/latest/benchmark/tpcc-ysql.md
  docs/content/latest/benchmark/tpcc.md
  docs/content/latest/benchmark/ycsb-ycql.md
  docs/content/latest/benchmark/ycsb-ysql.md
  docs/content/latest/benchmark/ycsb.md
  docs/static/images/benchmark/scalability/benchmark-setup.png
  docs/static/images/benchmark/scalability/cpu-usage-2.png
  docs/static/images/benchmark/scalability/cpu-usage-reads-ycql.png
  docs/static/images/benchmark/scalability/cpu-usage-writes-ycql.png
  docs/static/images/benchmark/scalability/cpu-usage.png
  docs/static/images/benchmark/scalability/key-value-workload-ycql.png
  docs/static/images/benchmark/scalability/total-cql-ops-per-sec-reads.png
  docs/static/images/benchmark/scalability/total-cql-ops-per-sec-writes-ycql.png
  docs/static/images/benchmark/scalability/total-ysql-ops-per-sec-2.png
  docs/static/images/benchmark/scalability/total-ysql-ops-per-sec.png
  docs/static/images/benchmark/scalability/ysql-op-latency-2.png
  docs/static/images/benchmark/scalability/ysql-op-latency.png
  docs/static/images/benchmark/scalability/yugabytedb-cluster.png
Labels: area/documentation

#3703 [docs] Convert tabs to buttons
  docs/content/latest/contribute/_index.md
  docs/content/latest/contribute/core-database/_index.md
  docs/content/latest/contribute/core-database/build-from-src.md
  docs/content/latest/contribute/core-database/build-from-src/centos7.md
  docs/content/latest/contribute/core-database/build-from-src/macos.md
  docs/content/latest/contribute/core-database/build-from-src/ubuntu18.md
  docs/content/latest/contribute/core-database/checklist.md
  docs/content/latest/contribute/core-database/clion-setup.md
  docs/content/latest/contribute/core-database/run-unit-tests.md
Labels: area/documentation

#3708 [doc] Force add files to source control
  docs/content/latest/contribute/core-database/build-from-src-centos.md
  docs/content/latest/contribute/core-database/build-from-src-macos.md
  docs/content/latest/contribute/core-database/build-from-src-ubuntu.md
  docs/content/latest/contribute/core-database/checklist.md
Labels: area/documentation

#3709 [docs] Fix broken links
  docs/content/latest/architecture/docdb/persistence.md
  docs/content/latest/contribute/core-database/_index.md
  docs/content/latest/explore/_index.md
  docs/content/latest/explore/change-data-capture/macos.md
  docs/content/latest/explore/colocated-tables/linux.md
  docs/content/latest/explore/colocated-tables/macos.md
  docs/content/latest/explore/fault-tolerance/docker.md
  docs/content/latest/explore/fault-tolerance/kubernetes.md
  docs/content/latest/explore/fault-tolerance/linux.md
  docs/content/latest/explore/fault-tolerance/macos.md
  docs/content/latest/explore/follower-reads/docker.md
  docs/content/latest/explore/follower-reads/kubernetes.md
  docs/content/latest/explore/follower-reads/linux.md
  docs/content/latest/explore/follower-reads/macos.md
  docs/content/latest/explore/global-distribution/linux.md
  docs/content/latest/explore/global-distribution/macos.md
  docs/content/latest/explore/linear-scalability/docker.md
  docs/content/latest/explore/linear-scalability/kubernetes.md
  docs/content/latest/explore/linear-scalability/linux.md
  docs/content/latest/explore/linear-scalability/macos.md
  docs/content/latest/explore/observability/docker.md
  docs/content/latest/explore/observability/kubernetes.md
  docs/content/latest/explore/observability/linux.md
  docs/content/latest/explore/observability/macos.md
  docs/content/latest/explore/two-data-centers/linux.md
  docs/content/latest/explore/two-data-centers/macos.md
  docs/content/latest/releases/_index.md
  docs/content/latest/secure/authorization/rbac-model-ycql.md
  docs/content/latest/secure/authorization/rbac-model.md
Labels: area/documentation

#3716 [docs] Fix link and edit content.
  docs/content/_index.html
  docs/content/latest/_index.html
  docs/content/latest/benchmark/ycsb-ycql.md
  docs/content/latest/benchmark/ycsb-ysql.md
  docs/content/latest/sample-data/_index.html
  docs/content/latest/sample-data/chinook.md
  docs/content/latest/sample-data/northwind.md
Labels: area/documentation

#3717 [docs] Fix identifiers to display proper links
  docs/content/latest/develop/learn/acid-transactions-ycql.md
  docs/content/latest/develop/learn/acid-transactions-ysql.md
  docs/content/latest/develop/learn/aggregations-ycql.md
  docs/content/latest/develop/learn/aggregations-ysql.md
  docs/content/latest/develop/learn/batch-operations-ycql.md
  docs/content/latest/develop/learn/batch-operations-ysql.md
  docs/content/latest/develop/learn/data-modeling-ycql.md
  docs/content/latest/develop/learn/data-modeling-ysql.md
  docs/content/latest/develop/learn/data-types-ycql.md
  docs/content/latest/develop/learn/data-types-ysql.md
  docs/content/latest/develop/learn/date-and-time-ycql.md
  docs/content/latest/develop/learn/date-and-time-ysql.md
  docs/content/latest/develop/learn/strings-and-text-ycql.md
  docs/content/latest/develop/learn/strings-and-text-ysql.md
Labels: area/documentation

#3724 [docs] Remove spaces in gflags and add missing icons
  docs/content/latest/develop/graphql/hasura.md
  docs/content/latest/reference/configuration/yb-master.md
  docs/static/images/develop/graphql/hasura/hasura.png
  docs/static/images/develop/graphql/prisma/prisma.png
Labels: area/documentation

#3719 [Colocation] Architecture section
  docs/content/latest/api/ysql/commands/ddl_create_table.md
  docs/content/latest/architecture/_index.html
  docs/content/latest/architecture/docdb/_index.html
  docs/content/latest/architecture/docdb/colocated-tables.md
  docs/content/latest/architecture/docdb/replication.md
  docs/content/latest/explore/colocated-tables/linux.md
Labels: area/documentation

#3735 [docs] Update quick start to use .sql files in share directory
  docs/content/latest/develop/ecosystem-integrations/metabase.md
  docs/content/latest/develop/learn/date-and-time-ysql.md
  docs/content/latest/develop/learn/strings-and-text-ysql.md
  docs/content/latest/develop/realworld-apps/retail-analytics.md
  docs/content/latest/quick-start/build-apps/ysql/csharp.md
  docs/content/latest/quick-start/explore-ysql/_index.md
  docs/content/latest/quick-start/explore-ysql/binary/explore-ysql.md
  docs/content/latest/quick-start/explore-ysql/docker/explore-ysql.md
  docs/content/latest/quick-start/explore-ysql/kubernetes/explore-ysql.md
Labels: area/documentation

#3741 [docs] Revert yb-demo to yb_demo for non-Kubernetes content
  docs/content/latest/deploy/kubernetes/oss/helm-chart.md
  docs/content/latest/develop/learn/date-and-time-ysql.md
  docs/content/latest/develop/learn/strings-and-text-ysql.md
  docs/content/latest/develop/realworld-apps/retail-analytics.md
  docs/content/latest/quick-start/build-apps/ysql/csharp.md
  docs/content/latest/quick-start/explore-ysql/_index.md
  docs/content/latest/quick-start/explore-ysql/kubernetes/explore-ysql.md
Labels: area/cdc

#3757 [docs] Add Yugabyte Cloud subsection to Deploy
  docs/content/latest/_index.html
  docs/content/latest/deploy/_index.html
  docs/content/latest/deploy/yugabyte-cloud/_index.html
  docs/content/latest/deploy/yugabyte-cloud/connect-to-clusters.md
  docs/content/latest/deploy/yugabyte-cloud/create-clusters.md
  docs/content/latest/deploy/yugabyte-cloud/create-databases.md
  docs/content/latest/deploy/yugabyte-cloud/free-tier.md
  docs/content/latest/deploy/yugabyte-cloud/manage-access.md
  docs/content/latest/deploy/yugabyte-cloud/monitor-clusters.md
  docs/static/images/deploy/yugabyte-cloud/Create-free-tier-cluster.png
  docs/static/images/deploy/yugabyte-cloud/add-new-user.png
  docs/static/images/deploy/yugabyte-cloud/build-free-tier-cluster.png
  docs/static/images/deploy/yugabyte-cloud/create-free-tier-cluster-details.png
  docs/static/images/deploy/yugabyte-cloud/database-access.png
  docs/static/images/deploy/yugabyte-cloud/free-tier-cluster-provisioned.png
  docs/static/images/deploy/yugabyte-cloud/free-tier-cluster-ready.png
  docs/static/images/deploy/yugabyte-cloud/log-into-to-account.png
  docs/static/images/deploy/yugabyte-cloud/sign-up.png
  docs/static/images/deploy/yugabyte-cloud/user-details.png
  docs/static/images/deploy/yugabyte-cloud/zcc].png
Labels: area/documentation

#3763 [docs] Fix changed link and add new image
  docs/content/latest/deploy/yugabyte-cloud/_index.html
  docs/content/latest/deploy/yugabyte-cloud/create-clusters.md
  docs/content/latest/deploy/yugabyte-cloud/monitor-clusters.md
  docs/static/images/deploy/yugabyte-cloud/Create-free-tier-cluster.png
  docs/static/images/deploy/yugabyte-cloud/create-free-tier-cluster-new.png
  docs/static/images/deploy/yugabyte-cloud/yugabyte-cloud-console.png
  docs/static/images/deploy/yugabyte-cloud/zcc].png
Labels: area/documentation

#3776 [docs] Update Yugabyte Cloud
  docs/content/latest/deploy/yugabyte-cloud/_index.html
  docs/static/images/deploy/yugabyte-cloud/create-free-tier-cluster-new.png
Labels: area/documentation

#3793 [docs] Update to include AWS
  docs/content/latest/deploy/yugabyte-cloud/_index.html
  docs/content/latest/deploy/yugabyte-cloud/create-clusters.md
  docs/static/images/deploy/yugabyte-cloud/create-free-tier-cluster-details.png
Labels: area/documentation

#3796 [docs] Fix code example in CDC to Kafka
  docs/content/latest/deploy/cdc/cdc-to-kafka.md
Labels: area/documentation
