Repository yugabyte/yugabyte-db, pull requests merged in 2020-10, with the labels that each got.

#5917 [docs] Update Yugabyte Platform backup-related pages and images
  docs/content/_index.html
  docs/content/latest/yugabyte-platform/back-up-restore-universes/back-up-universe-data.md
  docs/content/latest/yugabyte-platform/configure-yugabyte-platform/backup-target.md
  docs/content/stable/yugabyte-platform/back-up-restore-universes/back-up-universe-data.md
  docs/content/stable/yugabyte-platform/configure-yugabyte-platform/backup-target.md
Labels: area/documentation

#5950 [docs] Update and cleanup of Releases section
  docs/content/_index.html
  docs/content/latest/_index.html
  docs/content/latest/develop/_index.md
  docs/content/latest/reference/_index.md
  docs/content/latest/releases/_index.md
  docs/content/latest/releases/earlier-releases/_index.md
  docs/content/latest/releases/earlier-releases/v2.1.5.md
  docs/content/latest/releases/earlier-releases/v2.1.6.md
  docs/content/latest/releases/earlier-releases/v2.1.8.md
  docs/content/latest/releases/earlier-releases/v2.2.0.md
  docs/content/latest/releases/earlier-releases/v2.2.2.md
  docs/content/latest/releases/releases-overview.md
  docs/content/latest/releases/versioning.md
  docs/content/latest/releases/whats-new/_index.md
  docs/content/latest/releases/whats-new/latest-releases.md
  docs/content/latest/releases/whats-new/stable-releases.md
  docs/content/latest/tools/_index.md
  docs/content/stable/_index.html
  docs/content/stable/releases/_index.md
  docs/content/stable/releases/earlier-releases/_index.md
  docs/content/stable/releases/releases-overview.md
  docs/content/stable/releases/versioning.md
  docs/static/images/releases/current-stable.png
  docs/static/images/releases/latest.png
Labels: area/documentation

#5962 [Docs] Remove errors from the TPCC documentation.
  docs/content/latest/benchmark/tpcc-ysql/10000-wh/tpcc-ysql.md
Labels: area/documentation

#5966 [Docs] Add a note for the proper estimation of loaderthreads during the load phase.
  docs/content/latest/benchmark/tpcc-ysql/100-wh/tpcc-ysql.md
  docs/content/latest/benchmark/tpcc-ysql/1000-wh/tpcc-ysql.md
  docs/content/latest/benchmark/tpcc-ysql/10000-wh/tpcc-ysql.md
Labels: area/documentation

#6000 [docs] Disable previous and next buttons
  docs/content/latest/architecture/design-goals.md
  docs/content/stable/architecture/design-goals.md
  docs/content/v1.3/architecture/design-goals.md
  docs/content/v2.0/architecture/design-goals.md
  docs/content/v2.1/architecture/design-goals.md
  docs/layouts/_default/single.html
  docs/layouts/indexpage/single.html
Labels: area/documentation

#5957 [DOCS] mention deployment checklist before benchmarking
  docs/content/latest/benchmark/sysbench-ysql.md
Labels: area/documentation

#5974 [DOCS] explain COMPACT STORAGE syntax
  docs/content/latest/api/ycql/ddl_create_table.md
Labels: area/documentation

#6008 [DOCS] mention PostgreSQL extensions when upgrading
  docs/content/latest/manage/upgrade-deployment.md
Labels: area/documentation

#5998 [DOCS] removed SET TABLESPACE
  docs/content/latest/api/ysql/commands/ddl_alter_db.md
  docs/content/latest/api/ysql/commands/ddl_create_database.md
  docs/content/latest/api/ysql/syntax_resources/commands/alter_database,alter_database_option.diagram.md
  docs/content/latest/api/ysql/syntax_resources/commands/alter_database,alter_database_option.grammar.md
  docs/content/latest/api/ysql/syntax_resources/commands/create_database,create_database_options.diagram.md
  docs/content/latest/api/ysql/syntax_resources/commands/create_database,create_database_options.grammar.md
  docs/content/latest/api/ysql/syntax_resources/ysql_grammar.ebnf
Labels: area/documentation

#6030 [docs] Fix broken link to configuring AWS cloud provider
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/prepare-environment/aws.md
Labels: area/documentation

#6022 [docs] Updates to YP back up, restore, and schedule backup pages
  docs/content/latest/yugabyte-platform/back-up-restore-universes/_index.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/back-up-universe-data/ycql.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/back-up-universe-data/ysql.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/configure-backup-storage.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/restore-universe-data.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/restore-universe-data/ycql.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/restore-universe-data/ysql.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/schedule-data-backup.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/schedule-data-backups/ycql.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/schedule-data-backups/ysql.md
  docs/static/images/ee/backup-restore-universe-create.png
  docs/static/images/ee/create-backup-modal.png
  docs/static/images/ee/create-backup.png
  docs/static/images/yp/br-connect-modal.png
  docs/static/images/yp/cloud-provider-configuration-backup-aws.png
  docs/static/images/yp/cloud-provider-configuration-backup-azure.png
  docs/static/images/yp/cloud-provider-configuration-backup-gcs.png
  docs/static/images/yp/cloud-provider-configuration-backup-nfs.png
  docs/static/images/yp/create-backup-ycql.png
  docs/static/images/yp/create-backup-ysql.png
  docs/static/images/yp/restore-universe-data-ycql.png
  docs/static/images/yp/restore-universe-data-ysql.png
  docs/static/images/yp/tables-view.png
Labels: area/documentation, area/platform

#6044 [docs] Fix broken yp link on home page
  docs/content/latest/api/ysql/commands/ddl_create_sequence.md
  docs/content/latest/yugabyte-platform/_index.md
  docs/content/latest/yugabyte-platform/administer-yugabyte-platform/_index.md
  docs/content/latest/yugabyte-platform/administer-yugabyte-platform/back-up-restore-yp.md
Labels: area/documentation

#4791 [DOCS] add replace yb-master docs
  docs/content/latest/troubleshoot/cluster/replace_master.md
Labels: area/documentation

#6026 [docs] troubleshooting common error messages
  docs/content/latest/troubleshoot/nodes/trouble-common.md
Labels: area/documentation

#6074 [docs] Add two missing files when copying from latest to stable
  docs/content/stable/yugabyte-platform/back-up-restore-universes/_index.md
  docs/content/stable/yugabyte-platform/back-up-restore-universes/configure-backup-storage.md
Labels: area/documentation

#6073 link to pgloader issue in README.md
  README.md
Labels: area/documentation

#6065 [Docs] Update default font, table styles, and code blocks to use branding colors and flat design
  docs/config.yaml
  docs/layouts/_default/_markup/render-link.html
  docs/layouts/partials/head.html
  docs/styles/_buttons.scss
  docs/styles/_colors.scss
  docs/styles/_indexpage.scss
  docs/styles/_navbar.scss
  docs/styles/_search.scss
  docs/styles/_toc.scss
  docs/styles/_yuga_overrides.scss
Labels: area/documentation

#6127 [docs] Update Kubernetes content on installing Yugabyte Platform
  docs/content/latest/yugabyte-platform/alerts-monitoring/live-queries-dashboard.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/install-software/kubernetes.md
Labels: area/documentation, area/platform

#6117 [docs] Add docs for encryption at rest
  docs/content/latest/yugabyte-platform/_index.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/back-up-universe-data/ycql.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/back-up-universe-data/ysql.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/restore-universe-data/ycql.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/schedule-data-backups/ycql.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/schedule-data-backups/ysql.md
  docs/content/latest/yugabyte-platform/secure-universes/_index.md
  docs/content/latest/yugabyte-platform/secure-universes/create-kms-config.md/aws-kms.md
  docs/content/latest/yugabyte-platform/secure-universes/create-kms-config.md/equinix-smartkey.md
  docs/content/latest/yugabyte-platform/secure-universes/enable-encryption-at-rest.md
  docs/content/latest/yugabyte-platform/troubleshoot/_index.md
  docs/content/latest/yugabyte-platform/troubleshoot/install-upgrade-yp-issues.md
  docs/content/latest/yugabyte-platform/troubleshoot/universe-issues.md
Labels: area/documentation, area/platform

#6138 [docs] Adds updates to YP in latest to YP in stable
  docs/content/latest/benchmark/_index.md
  docs/content/latest/contribute/core-database/build-from-src-macos.md
  docs/content/latest/deploy/docker/docker-compose.md
  docs/content/latest/deploy/docker/docker-swarm.md
  docs/content/latest/deploy/multi-dc/2dc-deployment.md
  docs/content/latest/legal/third-party-software.md
  docs/content/latest/yedis/develop/client-drivers/yedis/cpp.md
  docs/content/latest/yedis/develop/client-drivers/yedis/csharp.md
  docs/content/latest/yedis/develop/client-drivers/yedis/go.md
  docs/content/latest/yedis/develop/client-drivers/yedis/java.md
  docs/content/latest/yedis/develop/client-drivers/yedis/nodejs.md
  docs/content/latest/yedis/develop/client-drivers/yedis/python.md
  docs/content/latest/yugabyte-platform/alerts-monitoring/live-queries-dashboard.md
  docs/content/latest/yugabyte-platform/back-up-restore-universes/restore-universe-data/ysql.md
  docs/content/latest/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/on-premises.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/install-software/default.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/prepare-environment/aws.md
  docs/content/stable/benchmark/_index.md
  docs/content/stable/deploy/docker/docker-compose.md
  docs/content/stable/deploy/docker/docker-swarm.md
  docs/content/stable/deploy/multi-dc/2dc-deployment.md
  docs/content/stable/legal/third-party-software.md
  docs/content/stable/yedis/develop/client-drivers/yedis/cpp.md
  docs/content/stable/yedis/develop/client-drivers/yedis/csharp.md
  docs/content/stable/yedis/develop/client-drivers/yedis/go.md
  docs/content/stable/yedis/develop/client-drivers/yedis/java.md
  docs/content/stable/yedis/develop/client-drivers/yedis/nodejs.md
  docs/content/stable/yedis/develop/client-drivers/yedis/python.md
  docs/content/stable/yugabyte-platform/_index.md
  docs/content/stable/yugabyte-platform/back-up-restore-universes/back-up-universe-data/ysql.md
  docs/content/stable/yugabyte-platform/back-up-restore-universes/configure-backup-storage.md
  docs/content/stable/yugabyte-platform/back-up-restore-universes/restore-universe-data/ysql.md
  docs/content/stable/yugabyte-platform/back-up-restore-universes/schedule-data-backups/ysql.md
  docs/content/stable/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/on-premises.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/default.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/kubernetes.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/prepare-environment/aws.md
  docs/content/stable/yugabyte-platform/secure-universes/_index.md
  docs/content/stable/yugabyte-platform/secure-universes/create-kms-config.md/aws-kms.md
  docs/content/stable/yugabyte-platform/secure-universes/create-kms-config.md/equinix-smartkey.md
  docs/content/stable/yugabyte-platform/secure-universes/enable-encryption-at-rest.md
Labels: area/documentation

#6160 [docs] Add Live Queries dashboard to new Alerts and monitoring section
  docs/content/latest/yugabyte-platform/_index.md
  docs/content/latest/yugabyte-platform/alerts-monitoring/_index.md
  docs/content/latest/yugabyte-platform/alerts-monitoring/live-queries-dashboard.md
  docs/static/images/yp/alerts-monitoring/live-queries/image1.png
  docs/static/images/yp/alerts-monitoring/live-queries/image2.png
  docs/static/images/yp/alerts-monitoring/live-queries/image3.png
  docs/static/images/yp/alerts-monitoring/live-queries/image5.png
  docs/static/images/yp/alerts-monitoring/live-queries/metrics-page-showing-link.png
  docs/static/images/yp/alerts-monitoring/live-queries/multiple-filters.png
  docs/static/images/yp/alerts-monitoring/live-queries/nodes-page-show-link.png
  docs/static/images/yp/alerts-monitoring/live-queries/search-dropdown.png
Labels: area/documentation, area/platform

#6167 [docs] Update versions in latest version to 2.3.3 and 2.3.3.0-b106
  docs/content/latest/benchmark/key-value-workload-ycql.md
  docs/content/latest/benchmark/scalability/scaling-queries-ysql.md
  docs/content/latest/deploy/public-clouds/aws/manual-deployment.md
  docs/content/latest/explore/auto-sharding/linux.md
  docs/content/latest/explore/auto-sharding/macos.md
  docs/content/latest/explore/fault-tolerance/linux.md
  docs/content/latest/explore/fault-tolerance/macos.md
  docs/content/latest/explore/follower-reads/linux.md
  docs/content/latest/explore/follower-reads/macos.md
  docs/content/latest/explore/global-distribution/linux.md
  docs/content/latest/explore/global-distribution/macos.md
  docs/content/latest/explore/linear-scalability/linux.md
  docs/content/latest/explore/linear-scalability/macos.md
  docs/content/latest/explore/observability/linux.md
  docs/content/latest/explore/observability/macos.md
  docs/content/latest/quick-start/install/linux.md
  docs/content/latest/quick-start/install/macos.md
  docs/content/latest/reference/configuration/yugabyted.md
  docs/content/latest/releases/whats-new/latest-releases.md
  docs/content/latest/secure/authentication/password-authentication.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/install-software/kubernetes.md
  docs/content/stable/benchmark/key-value-workload-ycql.md
  docs/content/stable/benchmark/scalability/scaling-queries-ysql.md
  docs/content/stable/explore/auto-sharding/linux.md
  docs/content/stable/explore/auto-sharding/macos.md
  docs/content/stable/explore/fault-tolerance/linux.md
  docs/content/stable/explore/fault-tolerance/macos.md
  docs/content/stable/explore/follower-reads/linux.md
  docs/content/stable/explore/follower-reads/macos.md
  docs/content/stable/explore/global-distribution/linux.md
  docs/content/stable/explore/global-distribution/macos.md
  docs/content/stable/explore/linear-scalability/linux.md
  docs/content/stable/explore/linear-scalability/macos.md
  docs/content/stable/explore/observability/linux.md
  docs/content/stable/explore/observability/macos.md
  docs/content/stable/releases/whats-new/latest-releases.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/kubernetes.md
  docs/static/images/yp/alerts-monitoring/live-queries/20200709-DS-Confluent_Fundamentals_for_Apache_Kafka.pdf
Labels: area/documentation

#6194 [docs] Replacement image
  docs/static/images/architecture/tserver_tablet_assignment.png
Labels: area/documentation

#6188 [docs] YP security docs
  docs/content/_index.html
  docs/content/latest/yugabyte-platform/_index.md
  docs/content/latest/yugabyte-platform/secure-universes/_index.md
  docs/content/latest/yugabyte-platform/security/_index.md
  docs/content/latest/yugabyte-platform/security/authorization-platform.md
  docs/content/latest/yugabyte-platform/security/create-kms-config.md/aws-kms.md
  docs/content/latest/yugabyte-platform/security/create-kms-config.md/equinix-smartkey.md
  docs/content/latest/yugabyte-platform/security/customize-ports.md
  docs/content/latest/yugabyte-platform/security/enable-encryption-at-rest.md
  docs/content/latest/yugabyte-platform/security/enable-encryption-in-transit.md
  docs/content/latest/yugabyte-platform/security/network-security.md
  docs/content/latest/yugabyte-platform/security/security-checklist-yp.md
  docs/content/stable/releases/whats-new/stable-releases.md
  docs/content/stable/yugabyte-platform/_index.md
  docs/content/stable/yugabyte-platform/secure-universes/_index.md
  docs/content/stable/yugabyte-platform/security/_index.md
  docs/content/stable/yugabyte-platform/security/authorization-platform.md
  docs/content/stable/yugabyte-platform/security/create-kms-config.md/aws-kms.md
  docs/content/stable/yugabyte-platform/security/create-kms-config.md/equinix-smartkey.md
  docs/content/stable/yugabyte-platform/security/customize-ports.md
  docs/content/stable/yugabyte-platform/security/enable-encryption-at-rest.md
  docs/content/stable/yugabyte-platform/security/enable-encryption-in-transit.md
  docs/content/stable/yugabyte-platform/security/network-security.md
  docs/content/stable/yugabyte-platform/security/security-checklist-yp.md
  docs/static/images/yp/authorization-platform/actions.png
  docs/static/images/yp/authorization-platform/add-user.png
  docs/static/images/yp/authorization-platform/role-drop-down.png
  docs/static/images/yp/encryption-in-transit/download-root-cert.png
  docs/static/images/yp/encryption-in-transit/download-ysql-cert.png
  docs/static/images/yp/security/create-universe-override-deployment-ports.png
  docs/static/images/yp/security/override-deployment-ports.png
Labels: area/documentation

#6182 [Doc][YSQL][#6041] Adding documentation related to TServer flag "ysql_sequence_cache_minval"
  docs/content/latest/api/ysql/the-sql-language/statements/ddl_alter_sequence.md
  docs/content/latest/api/ysql/the-sql-language/statements/ddl_create_sequence.md
  docs/content/latest/reference/configuration/yb-tserver.md
Labels: area/documentation, area/ysql

#6203 CentOS8 fix for python to run utils
  docs/content/latest/quick-start/install/linux.md
Labels: area/documentation

#6204 [docs] add steps to build a release package
  docs/content/latest/contribute/core-database/build-from-src-centos.md
  docs/content/latest/contribute/core-database/build-from-src-macos.md
  docs/content/latest/contribute/core-database/build-from-src-ubuntu.md
Labels: area/documentation
