Repository yugabyte/yugabyte-db, pull requests merged in 2020-04, with the labels that each got.

#4134 [docs] Convert tabs to buttons in Develop > Ecosystem Integrations > Apache Spark
  docs/content/latest/develop/ecosystem-integrations/_index.html
  docs/content/latest/develop/ecosystem-integrations/apache-spark.md
  docs/content/latest/develop/ecosystem-integrations/apache-spark/java.md
  docs/content/latest/develop/ecosystem-integrations/apache-spark/python.md
  docs/content/latest/develop/ecosystem-integrations/apache-spark/scala.md
Labels: area/documentation

#4132 [docs] Change goldmark autoHeadingIDType to blackfriday
  docs/config.yaml
Labels: area/documentation

#4146 Fix minor typo with ysql_enable_auth
  docs/content/latest/secure/authentication/ysql-authentication.md
Labels: area/documentation

#4149 [docs] Fix broken aliases and update title and descriptions
  docs/content/latest/benchmark/_index.html
  docs/content/latest/benchmark/key-value-workload-ycql.md
  docs/content/latest/benchmark/key-value-workload-ysql.md
  docs/content/latest/benchmark/large-datasets-ycql.md
  docs/content/latest/benchmark/large-datasets-ysql.md
  docs/content/latest/benchmark/scalability/scaling-queries-ycql.md
  docs/content/latest/benchmark/scalability/scaling-queries-ysql.md
  docs/content/latest/benchmark/tpcc-ysql.md
  docs/content/latest/benchmark/ycsb-ycql.md
  docs/content/latest/benchmark/ycsb-ysql.md
  docs/content/latest/comparisons/tidb.md
  docs/content/latest/deploy/cdc/_index.html
  docs/content/latest/deploy/cdc/cdc-to-kafka.md
  docs/content/latest/deploy/docker/docker-compose.md
  docs/content/latest/deploy/docker/docker-swarm.md
  docs/content/latest/deploy/kubernetes/single-zone/_index.html
  docs/content/latest/deploy/multi-dc/2dc-deployment.md
  docs/content/latest/deploy/multi-dc/3dc-deployment.md
  docs/content/latest/deploy/multi-dc/read-replica-clusters.md
  docs/content/latest/deploy/public-clouds/aws/cloudformation.md
  docs/content/latest/deploy/public-clouds/aws/manual-deployment.md
  docs/content/latest/deploy/public-clouds/aws/terraform.md
  docs/content/latest/deploy/public-clouds/azure/aks.md
  docs/content/latest/quick-start/build-apps/csharp/ycql.md
  docs/content/latest/quick-start/build-apps/csharp/ysql.md
  docs/content/latest/quick-start/build-apps/go/ycql.md
  docs/content/latest/quick-start/build-apps/go/ysql-gorm.md
  docs/content/latest/quick-start/build-apps/go/ysql-pq.md
  docs/content/latest/quick-start/build-apps/java/ycql.md
  docs/content/latest/quick-start/build-apps/java/ysql-jdbc.md
  docs/content/latest/quick-start/build-apps/java/ysql-spring-data.md
  docs/content/latest/quick-start/build-apps/nodejs/ycql.md
  docs/content/latest/quick-start/build-apps/nodejs/ysql-pg.md
  docs/content/latest/quick-start/build-apps/nodejs/ysql-sequelize.md
  docs/content/latest/quick-start/build-apps/python/ycql.md
  docs/content/latest/quick-start/build-apps/python/ysql-psycopg2.md
  docs/content/latest/quick-start/build-apps/python/ysql-sqlalchemy.md
  docs/content/latest/quick-start/build-apps/ruby/ycql.md
  docs/content/latest/quick-start/build-apps/ruby/ysql-pg.md
  docs/content/latest/quick-start/build-apps/ruby/ysql-rails-activerecord.md
  docs/content/latest/quick-start/build-apps/scala/ycql.md
  docs/content/latest/quick-start/create-local-cluster/docker.md
  docs/content/latest/tools/dbeaver.md
  docs/content/latest/tools/dbschema.md
  docs/content/latest/tools/pgadmin.md
  docs/content/latest/tools/sql-workbench.md
  docs/content/latest/tools/tableplus.md
  docs/content/latest/tools/visualstudioworkbench.md
  docs/content/v2.0/quick-start/create-local-cluster/linux.md
Labels: area/documentation

#4024 [docs] best practices ycql v1
  docs/content/latest/develop/best-practices-ycql.md
Labels: area/documentation

#4151 [docs] Convert from tabs to buttons and edit content
  docs/content/latest/deploy/public-clouds/azure.md
  docs/content/latest/deploy/public-clouds/azure/aks.md
  docs/content/latest/deploy/public-clouds/azure/azure-arm.md
  docs/content/latest/deploy/public-clouds/azure/terraform.md
Labels: area/documentation

#4163 [docs] Convert tabs to buttons for C, C++, and PHP
  docs/content/latest/quick-start/build-apps/_index.html
  docs/content/latest/quick-start/build-apps/c.md
  docs/content/latest/quick-start/build-apps/c/ysql.md
  docs/content/latest/quick-start/build-apps/cpp.md
  docs/content/latest/quick-start/build-apps/cpp/ycql.md
  docs/content/latest/quick-start/build-apps/cpp/ysql.md
  docs/content/latest/quick-start/build-apps/csharp/ycql.md
  docs/content/latest/quick-start/build-apps/csharp/ysql.md
  docs/content/latest/quick-start/build-apps/go/ycql.md
  docs/content/latest/quick-start/build-apps/go/ysql-gorm.md
  docs/content/latest/quick-start/build-apps/go/ysql-pq.md
  docs/content/latest/quick-start/build-apps/java/ycql.md
  docs/content/latest/quick-start/build-apps/java/ysql-jdbc.md
  docs/content/latest/quick-start/build-apps/java/ysql-spring-data.md
  docs/content/latest/quick-start/build-apps/nodejs/ycql.md
  docs/content/latest/quick-start/build-apps/nodejs/ysql-pg.md
  docs/content/latest/quick-start/build-apps/nodejs/ysql-sequelize.md
  docs/content/latest/quick-start/build-apps/php.md
  docs/content/latest/quick-start/build-apps/php/ysql.md
  docs/content/latest/quick-start/build-apps/python/ycql.md
  docs/content/latest/quick-start/build-apps/python/ysql-psycopg2.md
  docs/content/latest/quick-start/build-apps/python/ysql-sqlalchemy.md
  docs/content/latest/quick-start/build-apps/ruby/ycql.md
  docs/content/latest/quick-start/build-apps/ruby/ysql-pg.md
  docs/content/latest/quick-start/build-apps/ruby/ysql-rails-activerecord.md
  docs/content/latest/quick-start/build-apps/scala/ycql.md
Labels: area/documentation

#4168 [docs] Remove unused file
  docs/.cassandraWorkbench.jsonc
Labels: area/documentation

#4179 [docs] Fix broken links based on broken link report
  docs/content/latest/deploy/public-clouds/aws/manual-deployment.md
  docs/content/latest/deploy/public-clouds/gcp/gcp-deployment-manager.md
  docs/content/latest/deploy/public-clouds/gcp/gke.md
  docs/content/latest/deploy/public-clouds/gcp/terraform.md
  docs/content/latest/develop/best-practices-ycql.md
  docs/content/latest/quick-start/build-apps/c/ysql.md
  docs/content/latest/quick-start/install/macos.md
  docs/content/latest/secure/authorization/ycql-grant-permissions.md
  docs/content/latest/secure/authorization/ysql-grant-permissions.md
  docs/content/latest/yedis/develop/client-drivers/yedis/cpp.md
  docs/content/latest/yedis/develop/client-drivers/yedis/csharp.md
  docs/content/latest/yedis/develop/client-drivers/yedis/go.md
  docs/content/latest/yedis/develop/client-drivers/yedis/java.md
  docs/content/latest/yedis/develop/client-drivers/yedis/nodejs.md
  docs/content/latest/yedis/develop/client-drivers/yedis/python.md
  docs/content/latest/yedis/quick-start/_index.md
  docs/content/latest/yedis/quick-start/binary/test-yedis.md
  docs/content/latest/yedis/quick-start/docker/test-yedis.md
Labels: area/documentation

#4148 Add python-devel to list of packages
  docs/content/latest/contribute/core-database/build-from-src-centos.md
Labels: area/documentation

#4206 [docs] Add back _index.md
  docs/content/latest/architecture/core-functions/_index.md
Labels: area/documentation

#4209 [docs] Re-add missing steps and edit content
  docs/content/latest/contribute/core-database/build-from-src-macos.md
Labels: area/documentation

#4212 [docs] Change options to flags
  docs/content/latest/admin/cqlsh.md
  docs/content/latest/admin/yb-admin.md
  docs/content/latest/admin/yb-ctl.md
  docs/content/latest/admin/yb-docker-ctl.md
  docs/content/latest/admin/yb-ts-cli.md
  docs/content/latest/admin/ysqlsh.md
  docs/content/latest/api/ycql/_index.md
  docs/content/latest/api/ycql/ddl_alter_role.md
  docs/content/latest/api/ycql/ddl_create_role.md
  docs/content/latest/api/ycql/ddl_drop_role.md
  docs/content/latest/api/ycql/ddl_grant_permission.md
  docs/content/latest/api/ycql/ddl_grant_role.md
  docs/content/latest/api/ycql/ddl_revoke_permission.md
  docs/content/latest/api/ycql/ddl_revoke_role.md
  docs/content/latest/api/ysql/datatypes/type_json/functions-operators/code-example-conventions.md
  docs/content/latest/benchmark/scalability/scaling-queries-ycql.md
  docs/content/latest/benchmark/ycsb-ycql.md
  docs/content/latest/deploy/enterprise-edition/configure-cloud-providers/aws.md
  docs/content/latest/deploy/enterprise-edition/configure-cloud-providers/kubernetes.md
  docs/content/latest/deploy/kubernetes/single-zone/oss/operator-hub.md
  docs/content/latest/deploy/kubernetes/single-zone/oss/yugabyte-operator.md
  docs/content/latest/deploy/manual-deployment/start-masters.md
  docs/content/latest/deploy/manual-deployment/start-tservers.md
  docs/content/latest/deploy/multi-dc/3dc-deployment.md
  docs/content/latest/deploy/multi-dc/read-replica-clusters.md
  docs/content/latest/deploy/public-clouds/aws/cloudformation.md
  docs/content/latest/deploy/public-clouds/aws/manual-deployment.md
  docs/content/latest/deploy/yugabyte-cloud/connect-to-clusters.md
  docs/content/latest/develop/learn/batch-operations-ycql.md
  docs/content/latest/develop/learn/sql-nosql.md
  docs/content/latest/explore/auto-sharding/linux.md
  docs/content/latest/explore/auto-sharding/macos.md
  docs/content/latest/faq/operations-faq.md
  docs/content/latest/manage/backup-restore/snapshots.md
  docs/content/latest/manage/diagnostics-reporting.md
  docs/content/latest/manage/enterprise-edition/edit-config.md
  docs/content/latest/manage/upgrade-deployment.md
  docs/content/latest/quick-start/create-local-cluster/linux.md
  docs/content/latest/quick-start/create-local-cluster/macos.md
  docs/content/latest/reference/configuration/default-ports.md
  docs/content/latest/reference/configuration/yb-master.md
  docs/content/latest/reference/configuration/yb-tserver.md
  docs/content/latest/reference/configuration/yugabyted.md
  docs/content/latest/secure/authentication/client-authentication.md
  docs/content/latest/secure/authentication/ysql-authentication.md
  docs/content/latest/secure/tls-encryption/client-to-server.md
  docs/content/latest/secure/tls-encryption/connect-to-cluster.md
  docs/content/latest/secure/tls-encryption/server-to-server.md
  docs/content/latest/troubleshoot/nodes/check-logs.md
  docs/content/latest/troubleshoot/nodes/check-processes.md
  docs/content/latest/troubleshoot/nodes/check-stats.md
  docs/content/latest/troubleshoot/nodes/recover-disk.md
Labels: area/documentation

#4214 [doc] Change gflag to flag
  docs/content/latest/deploy/kubernetes/multi-cluster/gke/helm-chart.md
  docs/content/latest/deploy/kubernetes/single-zone/oss/helm-chart.md
  docs/content/latest/deploy/kubernetes/single-zone/oss/operator-hub.md
  docs/content/latest/deploy/kubernetes/single-zone/oss/rook-operator.md
  docs/content/latest/deploy/kubernetes/single-zone/oss/yugabyte-operator.md
  docs/content/latest/manage/enterprise-edition/node-actions.md
  docs/content/latest/manage/enterprise-edition/read-replicas.md
  docs/content/latest/yedis/api/flushall.md
  docs/content/latest/yedis/api/flushdb.md
Labels: area/documentation

#4159 [docs] zfs is not supported
  docs/content/latest/deploy/checklist.md
Labels: area/documentation

#4221 [docs] Move indented div elements in
  docs/content/latest/architecture/_index.md
Labels: area/documentation

#4186 [docs] add ulimit config to get-started-on-linux docs page
  docs/content/latest/quick-start/install/linux.md
Labels: area/documentation

#4220 [docs] fix architecture page layout+images
  docs/content/latest/architecture/_index.md
Labels: area/documentation

#4222 [docs] Correct port numbers for monitoring
  docs/content/latest/reference/configuration/default-ports.md
Labels: area/documentation

#4247 [docs] Update section pages and front matter
  docs/content/latest/architecture/2dc-deployments.md
  docs/content/latest/architecture/_index.md
  docs/content/latest/architecture/design-goals.md
  docs/content/latest/architecture/docdb/_index.md
  docs/content/latest/architecture/docdb/performance.md
  docs/content/latest/architecture/layered-architecture.md
  docs/content/latest/architecture/query-layer/_index.md
  docs/content/latest/architecture/query-layer/overview.md
  docs/content/latest/architecture/transactions/_index.md
  docs/content/latest/architecture/transactions/distributed-txns.md
  docs/content/latest/architecture/transactions/isolation-levels.md
  docs/content/latest/architecture/transactions/single-row-transactions.md
  docs/content/latest/benchmark/_index.md
  docs/content/latest/comparisons/_index.md
  docs/content/latest/comparisons/amazon-aurora.md
  docs/content/latest/comparisons/amazon-dynamodb.md
  docs/content/latest/comparisons/azure-cosmos.md
  docs/content/latest/comparisons/cassandra.md
  docs/content/latest/comparisons/foundationdb.md
  docs/content/latest/comparisons/google-spanner.md
  docs/content/latest/comparisons/hbase.md
  docs/content/latest/comparisons/mongodb.md
  docs/content/latest/comparisons/tidb.md
  docs/content/latest/comparisons/vitess.md
  docs/content/latest/contribute/_index.md
  docs/content/latest/contribute/core-database/build-from-src-centos.md
  docs/content/latest/contribute/core-database/build-from-src-macos.md
  docs/content/latest/contribute/core-database/build-from-src-ubuntu.md
  docs/content/latest/contribute/core-database/checklist.md
  docs/content/latest/contribute/core-database/clion-setup.md
  docs/content/latest/deploy/cdc/_index.md
  docs/content/latest/deploy/cdc/cdc-to-kafka.md
  docs/content/latest/deploy/enterprise-edition/_index.md
  docs/content/latest/deploy/enterprise-edition/configure-admin-console.md
  docs/content/latest/deploy/kubernetes/_index.md
  docs/content/latest/deploy/kubernetes/multi-cluster/_index.md
  docs/content/latest/deploy/kubernetes/multi-cluster/gke/helm-chart.md
  docs/content/latest/deploy/kubernetes/multi-zone/_index.md
  docs/content/latest/deploy/kubernetes/multi-zone/eks/helm-chart.md
  docs/content/latest/deploy/kubernetes/multi-zone/gke/helm-chart.md
  docs/content/latest/deploy/kubernetes/single-zone/_index.md
  docs/content/latest/deploy/manual-deployment/_index.md
  docs/content/latest/deploy/multi-dc/_index.md
  docs/content/latest/deploy/public-clouds/_index.md
  docs/content/latest/deploy/yugabyte-cloud/_index.html
  docs/content/latest/deploy/yugabyte-cloud/_index.md
  docs/content/latest/sample-data/_index.html
  docs/content/latest/sample-data/_index.md
  docs/content/latest/tools/_index.md
Labels: area/documentation

#4180 Client connections to Kubernetes
  docs/content/latest/deploy/kubernetes/clients.md
Labels: area/documentation, area/kubernetes

#4272 [docs] fix link to yedis quickstart
  docs/content/latest/yedis/develop/client-drivers/yedis/nodejs.md
Labels: area/documentation

#4283 [docs] Fix broken internal links reported on April 23
  docs/content/latest/deploy/enterprise-edition/configure-cloud-providers/azure.md
  docs/content/latest/deploy/kubernetes/_index.md
  docs/content/latest/deploy/kubernetes/clients.md
  docs/content/latest/deploy/public-clouds/aws/manual-deployment.md
  docs/content/latest/explore/observability/macos.md
  docs/content/latest/quick-start/build-apps/cpp/ysql.md
  docs/content/v1.1/explore/cloud-native/binary/observability.md
  docs/content/v1.1/explore/cloud-native/observability.md
Labels: area/documentation

#4299 [docs] Update SQL Foreign Keys to check for Spanner
  docs/content/latest/comparisons/_index.md
Labels: area/documentation

#4310 [docs] Add "What's new in 2.1.5" and "Earlier releases" sections to RELEASES
  docs/content/_index.html
  docs/content/latest/_index.html
  docs/content/latest/api/ysql/commands/ddl_create_table.md
  docs/content/latest/deploy/public-clouds/aws/manual-deployment.md
  docs/content/latest/faq/_index.md
  docs/content/latest/quick-start/install/linux.md
  docs/content/latest/quick-start/install/macos.md
  docs/content/latest/releases/earlier-releases/_index.md
  docs/content/latest/releases/earlier-releases/v1.2.10.md
  docs/content/latest/releases/earlier-releases/v1.2.11.md
  docs/content/latest/releases/earlier-releases/v1.2.12.md
  docs/content/latest/releases/earlier-releases/v1.2.4.md
  docs/content/latest/releases/earlier-releases/v1.2.5.md
  docs/content/latest/releases/earlier-releases/v1.2.6.md
  docs/content/latest/releases/earlier-releases/v1.2.8.md
  docs/content/latest/releases/earlier-releases/v1.2.9.md
  docs/content/latest/releases/earlier-releases/v1.3.0.md
  docs/content/latest/releases/earlier-releases/v1.3.1.md
  docs/content/latest/releases/earlier-releases/v2.0.0.md
  docs/content/latest/releases/earlier-releases/v2.0.1.md
  docs/content/latest/releases/earlier-releases/v2.0.10.md
  docs/content/latest/releases/earlier-releases/v2.0.11.md
  docs/content/latest/releases/earlier-releases/v2.0.3.md
  docs/content/latest/releases/earlier-releases/v2.0.5.md
  docs/content/latest/releases/earlier-releases/v2.0.6.md
  docs/content/latest/releases/earlier-releases/v2.0.7.md
  docs/content/latest/releases/earlier-releases/v2.0.8.md
  docs/content/latest/releases/earlier-releases/v2.0.9.md
  docs/content/latest/releases/earlier-releases/v2.1.0.md
  docs/content/latest/releases/earlier-releases/v2.1.1.md
  docs/content/latest/releases/earlier-releases/v2.1.2.md
  docs/content/latest/releases/earlier-releases/v2.1.3.md
  docs/content/latest/releases/earlier-releases/v2.1.4.md
  docs/content/latest/releases/whats-new/_index.md
Labels: area/documentation

#4300 Add steps for running sysbench against YSQL.
  docs/content/latest/benchmark/_index.md
  docs/content/latest/benchmark/sysbench-ysql.md
Labels: area/documentation, area/sql

#4195 Create Repository_dispatch event
  .github/workflows/create-repository-dispatch.yml
Labels: area/tools

#4331 [docs] Remove two exceptions that now work
  docs/content/latest/sample-data/pgexercises.md
Labels: area/documentation

#4323 docs: YSQL CREATE/DROP EXTENSION
  docs/content/latest/api/ysql/_index.md
  docs/content/latest/api/ysql/commands/_index.md
  docs/content/latest/api/ysql/commands/ddl_create_extension.md
  docs/content/latest/api/ysql/commands/ddl_drop_extension.md
  docs/content/latest/api/ysql/syntax_resources/commands/create_extension.diagram.md
  docs/content/latest/api/ysql/syntax_resources/commands/create_extension.grammar.md
  docs/content/latest/api/ysql/syntax_resources/commands/drop_extension.diagram.md
  docs/content/latest/api/ysql/syntax_resources/commands/drop_extension.grammar.md
  docs/content/latest/api/ysql/syntax_resources/grammar_diagrams.md
  docs/content/latest/api/ysql/syntax_resources/ysql_grammar.ebnf
Labels: area/documentation

#4175 [docs] Document postgresql-hll extension
  docs/content/latest/api/ysql/extensions.md
Labels: area/documentation

#4355 [docs] Fix duplicate meta descriptions based on generated report
  docs/content/latest/architecture/docdb-replication/_index.md
  docs/content/latest/architecture/docdb-sharding/_index.md
  docs/content/latest/benchmark/ycsb-jdbc.md
  docs/content/latest/benchmark/ycsb-ysql.md
  docs/content/latest/deploy/kubernetes/single-zone/gke/helm-chart.md
  docs/content/latest/deploy/kubernetes/single-zone/gke/statefulset-yaml-local-ssd.md
  docs/content/latest/deploy/kubernetes/single-zone/gke/statefulset-yaml.md
  docs/content/latest/explore/global-distribution/macos.md
Labels: area/documentation
