Repository yugabyte/yugabyte-db, pull requests merged in 2020-11, with the labels that each got.

#6173 [docs] Better Postgis docs
  docs/content/latest/api/ysql/extensions.md
Labels: area/documentation

#6328 Direct Platform license requests to website form.
  docs/content/latest/faq/yugabyte-platform.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/install-software/airgapped.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/install-software/default.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/install-software/kubernetes.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/prepare-environment/kubernetes.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/prerequisites.md
  docs/content/stable/faq/yugabyte-platform.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/airgapped.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/default.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/kubernetes.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/prepare-environment/kubernetes.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/prerequisites.md
  docs/content/v1.3/deploy/enterprise-edition/install-admin-console/airgapped.md
  docs/content/v1.3/deploy/enterprise-edition/install-admin-console/default.md
  docs/content/v1.3/faq/enterprise-edition.md
  docs/content/v2.0/deploy/enterprise-edition/install-admin-console/airgapped.md
  docs/content/v2.0/deploy/enterprise-edition/install-admin-console/default.md
  docs/content/v2.0/faq/yugabyte-platform.md
  docs/content/v2.1/deploy/enterprise-edition/install-admin-console/airgapped.md
  docs/content/v2.1/deploy/enterprise-edition/install-admin-console/default.md
  docs/content/v2.1/deploy/enterprise-edition/install-admin-console/kubernetes.md
  docs/content/v2.1/faq/yugabyte-platform.md
Labels: area/documentation, size/S

#6344 [docs] rename table in YSQL is only metadata change
  docs/content/latest/api/ysql/the-sql-language/statements/ddl_alter_table.md
Labels: area/documentation

#6195 [docs] Add YCQL audit logging to Secure section (YugabyteDB Core)
  docs/content/latest/reference/configuration/yb-tserver.md
  docs/content/latest/secure/_index.md
  docs/content/latest/secure/audit-logging/ycql.md
  docs/content/stable/reference/configuration/yb-tserver.md
  docs/content/stable/secure/_index.md
  docs/content/stable/secure/audit-logging/ycql.md
Labels: area/documentation, area/ycql

#6311 [docs] store decimals in strings in jsonb
  docs/content/latest/api/ycql/type_jsonb.md
Labels: area/documentation
