Repository yugabyte/yugabyte-db, pull requests merged in 2021-06, with the labels that each got.

#8624 [#6945] [Platform] [Backport-2.6] Add limit to customer task API.
  managed/src/main/java/com/yugabyte/yw/common/kms/util/AwsEARServiceUtil.java
  managed/src/main/java/com/yugabyte/yw/controllers/CustomerTaskController.java
  managed/src/main/resources/reference.conf
  managed/src/test/java/com/yugabyte/yw/controllers/CustomerTaskControllerTest.java
Labels: area/platform, team/platform-hi

#8700 [#6945] [Platform] [Backport-2.4] Add limit to customer task API.
  managed/src/main/java/com/yugabyte/yw/controllers/CustomerTaskController.java
  managed/src/main/resources/application.test.conf
  managed/src/main/resources/reference.conf
  managed/src/test/java/com/yugabyte/yw/controllers/CustomerTaskControllerTest.java
Labels: area/platform, team/platform-hi

#8694 Added examples
  docs/content/latest/explore/security/security.md
  docs/content/latest/secure/authentication/ldap-authentication.md
Labels: area/documentation

#8673 [#8611] [Platform] [Backport-2.6] Enable edit backup configuration for the active tab only.
  managed/ui/src/components/config/Storage/AwsStorageConfiguration.js
  managed/ui/src/components/config/Storage/StorageConfiguration.js
Labels: 2.6 Backport Required

#8674 [#8611] [Platform] [Backport-2.4] Enable edit backup configuration for the active tab only.
  managed/ui/src/components/config/Storage/AwsStorageConfiguration.js
  managed/ui/src/components/config/Storage/StorageConfiguration.js
Labels: 2.4 Backport Required

#8751 [docs] Update airgapped install
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/install-software/airgapped.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/airgapped.md
Labels: area/documentation

#8605 [#8604][Platform][API] Error Handling in Availability zone controller
  managed/src/main/java/com/yugabyte/yw/commissioner/tasks/subtasks/cloud/CloudRegionSetup.java
  managed/src/main/java/com/yugabyte/yw/controllers/AvailabilityZoneController.java
  managed/src/main/java/com/yugabyte/yw/controllers/CloudProviderController.java
  managed/src/main/java/com/yugabyte/yw/controllers/ImportController.java
  managed/src/main/java/com/yugabyte/yw/controllers/RegionController.java
  managed/src/main/java/com/yugabyte/yw/models/AvailabilityZone.java
  managed/src/test/java/com/yugabyte/yw/cloud/UniverseResourceDetailsTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/HealthCheckerTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/AddNodeToUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/CloudCleanupTestTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/CreateKubernetesUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/DestroyKubernetesUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/DestroyUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/EditKubernetesUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/PauseUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/ReadOnlyClusterCreateTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/ReadOnlyClusterDeleteTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/ReleaseInstanceFromUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/RemoveNodeFromUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/ResumeUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/StartMasterOnNodeTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/StartNodeInUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/StopNodeInUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/UpgradeKubernetesUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/UpgradeUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/subtasks/AnsibleSetupServerTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/subtasks/KubernetesCommandExecutorTest.java
  managed/src/test/java/com/yugabyte/yw/common/ApiUtils.java
  managed/src/test/java/com/yugabyte/yw/common/NodeManagerTest.java
  managed/src/test/java/com/yugabyte/yw/common/PlacementInfoUtilTest.java
  managed/src/test/java/com/yugabyte/yw/common/TableManagerTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/AvailabilityZoneControllerTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/CloudProviderControllerTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/CustomerControllerTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/InstanceTypeControllerTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/NodeInstanceControllerTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/RegionControllerTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/SessionControllerTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/UniverseControllerTest.java
  managed/src/test/java/com/yugabyte/yw/models/AvailabilityZoneTest.java
  managed/src/test/java/com/yugabyte/yw/models/CustomerTest.java
  managed/src/test/java/com/yugabyte/yw/models/NodeInstanceTest.java
  managed/src/test/java/com/yugabyte/yw/models/ProviderTest.java
  managed/src/test/java/com/yugabyte/yw/models/RegionTest.java
  managed/src/test/java/com/yugabyte/yw/models/UniverseTest.java
Labels: area/platform, team/platform-hi

#8583 [docs] reorder Explore menu
  docs/content/latest/explore/_index.md
  docs/content/latest/explore/change-data-capture/linux.md
  docs/content/latest/explore/change-data-capture/macos.md
  docs/content/latest/explore/colocated-tables/linux.md
  docs/content/latest/explore/colocated-tables/macos.md
  docs/content/latest/explore/extensions/_index.md
  docs/content/latest/explore/follower-reads/fr-ycql.md
  docs/content/latest/explore/follower-reads/fr-ysql.md
  docs/content/latest/explore/json-support/jsonb-ycql.md
  docs/content/latest/explore/json-support/jsonb-ysql.md
  docs/content/latest/explore/linear-scalability/_index.md
  docs/content/latest/explore/linear-scalability/scaling-transactions.md
  docs/content/latest/explore/linear-scalability/sharding-data.md
  docs/content/latest/explore/multi-region-deployments/_index.md
  docs/content/latest/explore/observability/_index.md
  docs/content/latest/explore/query-1-performance/_index.md
  docs/content/latest/explore/security/security.md
  docs/content/latest/explore/transactions/_index.md
Labels: area/documentation

#8929 [#8809] [Platfrom] [Backport-2.6] Editing fields is only available alternatively when we click 'Edit Configuration'.
  managed/ui/src/components/config/Storage/StorageConfiguration.js
Labels: 2.6 Backport Required

#8975 [#8809] [Platfrom] [Backport-2.4] Editing fields is only available alternatively when we click 'Edit Configuration'.
  managed/ui/src/components/config/Storage/StorageConfiguration.js
Labels: 2.4 Backport Required

#8796 [docs] intro for query tuning
  docs/content/latest/explore/query-1-performance/_index.md
  docs/content/latest/explore/query-1-performance/explain-analyze.md
  docs/content/latest/explore/query-1-performance/pg-hint-plan.md
  docs/content/latest/explore/query-1-performance/pg-stat-activity.md
  docs/content/latest/explore/query-1-performance/pg-stat-statements.md
  docs/content/latest/explore/query-1-performance/query-tuning-intro.md
Labels: area/documentation

#8850 [docs] Firewall for self managed
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/prepare-environment/aws.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/prepare-environment/azure.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/prepare-environment/gcp.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/prepare-environment/kubernetes.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/prepare-environment/on-premises.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/prepare-environment/openshift.md
  docs/content/latest/yugabyte-platform/install-yugabyte-platform/prepare-on-prem-nodes.md
Labels: area/documentation

#9033 fixed partly broken link to partition_hash page in the YCQL best practices page "use partition_hash for large table scans" section
  docs/content/latest/develop/best-practices-ycql.md
Labels: area/documentation

#8934 [docs] add hasura cloud
  docs/content/latest/develop/graphql/hasura.md
Labels: area/documentation

#9097 [Backport 2.6][#8461][Platform] Added fix for redirecting user to intended url.
  managed/ui/src/routes.js
Labels: 2.6 Backport Required

#9004 [docs] TLS used with authentication
  docs/content/latest/secure/tls-encryption/_index.md
  docs/content/latest/secure/tls-encryption/tls-authentication.md
Labels: area/documentation

#9144 [docs] cosmetic edits sharding etc
  docs/content/latest/architecture/docdb-replication/replication.md
  docs/content/latest/architecture/docdb-sharding/sharding.md
  docs/content/latest/architecture/docdb-sharding/tablet-splitting.md
  docs/content/latest/explore/transactions/explicit-locking.md
Labels: area/documentation
