Repository yugabyte/yugabyte-db, pull requests merged in 2021-05, with the labels that each got.

#8265 [#8264][Platform] [API] Error handling in shedule controller.
  managed/src/main/java/com/yugabyte/yw/controllers/ScheduleController.java
  managed/src/main/java/com/yugabyte/yw/models/Schedule.java
  managed/src/test/java/com/yugabyte/yw/controllers/ScheduleControllerTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/TablesControllerTest.java
  managed/src/test/java/com/yugabyte/yw/models/ScheduleTest.java
Labels: team/platform-hi

#8116 [#8107][Platform] [API] Error handling in certificate controller.
  managed/src/main/java/com/yugabyte/yw/common/CertificateHelper.java
  managed/src/main/java/com/yugabyte/yw/controllers/CertificateController.java
  managed/src/main/java/com/yugabyte/yw/models/CertificateInfo.java
  managed/src/test/java/com/yugabyte/yw/controllers/CertificateControllerTest.java
Labels: team/platform-hi

#8411 [Docs] Spelling fix in "Encryption in Transit" doc
  docs/content/latest/secure/tls-encryption/server-certificates.md
Labels: area/documentation

#8552 fix link
  docs/content/latest/explore/security/security.md
Labels: area/documentation

#8574 [#8573] [Platform] [API] NodeInstanceController error handling.
  managed/src/main/java/com/yugabyte/yw/common/kms/util/EncryptionAtRestUtil.java
  managed/src/main/java/com/yugabyte/yw/controllers/EncryptionAtRestController.java
  managed/src/main/java/com/yugabyte/yw/controllers/NodeInstanceController.java
  managed/src/main/java/com/yugabyte/yw/models/NodeInstance.java
  managed/src/test/java/com/yugabyte/yw/controllers/EncryptionAtRestControllerTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/NodeInstanceControllerTest.java
Labels: area/platform, team/platform-hi

#8579 [#7864] [Platform] [Backport-2.6] Delete associated backups after deleting the universe.
  managed/src/main/java/com/yugabyte/yw/commissioner/UserTaskDetails.java
  managed/src/main/java/com/yugabyte/yw/commissioner/tasks/DestroyUniverse.java
  managed/src/main/java/com/yugabyte/yw/commissioner/tasks/UniverseTaskBase.java
  managed/src/main/java/com/yugabyte/yw/commissioner/tasks/subtasks/DeleteBackup.java
  managed/src/main/java/com/yugabyte/yw/controllers/BackupsController.java
  managed/src/main/java/com/yugabyte/yw/controllers/UniverseController.java
  managed/src/main/java/com/yugabyte/yw/models/TaskInfo.java
  managed/src/main/java/com/yugabyte/yw/models/helpers/TaskType.java
  managed/src/main/java/com/yugabyte/yw/scheduler/Scheduler.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/DestroyUniverseTest.java
  managed/src/test/java/com/yugabyte/yw/commissioner/tasks/subtasks/DeleteBackupTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/UniverseControllerTest.java
  managed/ui/src/actions/universe.js
  managed/ui/src/app/stylesheets/modals.scss
  managed/ui/src/components/universes/DeleteUniverse/DeleteUniverse.js
  managed/ui/src/components/universes/DeleteUniverse/DeleteUniverseContainer.js
Labels: 2.6 Backport Required

#7969 [#7965] [Platform][API] Access key controller error handling.
  managed/src/main/java/com/yugabyte/yw/common/AccessManager.java
  managed/src/main/java/com/yugabyte/yw/common/TemplateManager.java
  managed/src/main/java/com/yugabyte/yw/common/YWServiceException.java
  managed/src/main/java/com/yugabyte/yw/controllers/AccessKeyController.java
  managed/src/main/java/com/yugabyte/yw/models/AccessKey.java
  managed/src/main/java/com/yugabyte/yw/models/Region.java
  managed/src/test/java/com/yugabyte/yw/common/AccessManagerTest.java
  managed/src/test/java/com/yugabyte/yw/common/TemplateManagerTest.java
  managed/src/test/java/com/yugabyte/yw/controllers/AccessKeyControllerTest.java
Labels: area/platform, team/platform-hi

#8602 [#8601][Platform][API] Error handling in MetaMaster Controller
  managed/src/main/java/com/yugabyte/yw/controllers/MetaMasterController.java
Labels: area/platform, team/platform-hi

#8627 [#8620] [Platform] [Backport-2.4] Reset the values on cancel.
  managed/ui/src/components/config/Storage/AwsStorageConfiguration.js
  managed/ui/src/components/config/Storage/StorageConfiguration.js
Labels: 2.4 Backport Required

#8626 [#8620] [Platform] [Backport-2.6] Reset the values on cancel.
  managed/ui/src/components/config/Storage/AwsStorageConfiguration.js
  managed/ui/src/components/config/Storage/StorageConfiguration.js
Labels: 2.6 Backport Required
