Repository yugabyte/yugabyte-db, pull requests merged in 2023-05, with the labels that each got.

#17019 [docs] [PLAT-8479] added a note for installing YBC during DB version upgrades.
  docs/content/preview/yugabyte-platform/manage-deployments/upgrade-software.md
  docs/content/stable/yugabyte-platform/manage-deployments/upgrade-software.md
Labels: area/documentation

#17105 [docs] Update product name in vulnerability disclosure policy
  docs/content/preview/secure/vulnerability-disclosure-policy.md
  docs/content/stable/secure/vulnerability-disclosure-policy.md
  docs/content/v2.12/secure/vulnerability-disclosure-policy.md
  docs/content/v2.14/secure/vulnerability-disclosure-policy.md
Labels: area/documentation

#17012 [docs] Improve backfill troubleshooting
  docs/content/preview/api/ysql/the-sql-language/statements/ddl_create_index.md
Labels: area/documentation

#17098 [docs] Mention that upgrading from preview to stable is not supported
  docs/content/preview/releases/versioning.md
  docs/content/preview/yugabyte-cloud/cloud-basics/create-clusters-overview.md
Labels: area/documentation

#17097 [docs] Fix yb-admin add_transaction_tablet command arguments
  docs/content/preview/admin/yb-admin.md
  docs/content/stable/admin/yb-admin.md
Labels: area/documentation

#17099 [docs] Mention that the ip may change when starting a local cluster
  docs/content/preview/quick-start/linux.md
Labels: area/documentation

#17089 [docs] added ybc on k8s support for incremental backups
  docs/content/stable/yugabyte-platform/back-up-restore-universes/back-up-universe-data/ysql.md
Labels: area/documentation

#17157 [Docs] New badges (Tech Preview and Early Access) similar to Beta
  docs/assets/scss/_styles_project.scss
  docs/assets/scss/_yb_badge.scss
  docs/assets/scss/_yb_headings.scss
  docs/layouts/_default/content.html
  docs/layouts/indexpage/list.html
  docs/layouts/partials/badges.html
Labels: area/documentation

#16788 [docs] Release notes for 2.17.3.0
  docs/content/preview/releases/release-notes/v2.17.md
  docs/content/preview/releases/yba-releases/v2.17.md
  docs/data/currentVersions.json
Labels: area/documentation

#16791 [docs] Docs for dedicated master feature
  docs/content/preview/yugabyte-platform/create-deployments/_index.md
  docs/content/preview/yugabyte-platform/create-deployments/async-replication-platform.md
  docs/content/preview/yugabyte-platform/create-deployments/create-universe-multi-cloud.md
  docs/content/preview/yugabyte-platform/create-deployments/create-universe-multi-region.md
  docs/content/preview/yugabyte-platform/create-deployments/create-universe-multi-zone.md
  docs/content/preview/yugabyte-platform/create-deployments/dedicated-master.md
  docs/static/images/ee/multi-cloud-create-universe1.png
  docs/static/images/ee/multi-cloud-create-universe2.png
  docs/static/images/yp/create-deployments/create-dedicated-universe.png
  docs/static/images/yp/create-deployments/create-multi-region-uni1.png
  docs/static/images/yp/create-deployments/create-multi-region-uni2.png
  docs/static/images/yp/create-deployments/dedicated-universe-metrics.png
  docs/static/images/yp/create-deployments/dedicated-universe-nodes.png
  docs/static/images/yp/create-deployments/dedicated-universe-overview.png
  docs/static/images/yp/create-uni-multi-zone-1.png
Labels: area/documentation

#17065 [docs] Update yb-pg-stat-get-queries to yb_terminated_queries
  docs/content/preview/explore/query-1-performance/_index.md
  docs/content/preview/explore/query-1-performance/yb-pg-stat-get-queries.md
Labels: area/documentation

#17126 [docs] fixed typos and incorrect description for geo-partitioning helper functions
  docs/content/preview/api/ysql/exprs/geo_partitioning_helper_functions/_index.md
  docs/content/preview/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_cloud.md
  docs/content/preview/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_region.md
  docs/content/preview/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_zone.md
  docs/content/stable/api/ysql/exprs/geo_partitioning_helper_functions/_index.md
  docs/content/stable/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_cloud.md
  docs/content/stable/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_region.md
  docs/content/stable/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_zone.md
Labels: area/documentation

#17202 Update guidance for handling upgrades with xCluster
  docs/content/preview/manage/upgrade-deployment.md
Labels: area/documentation

#17208 [docs] Update Metrics intro diagram
  docs/static/images/manage/monitor/metrics-endpoints.png
Labels: area/documentation

#17070 [docs] performance advisor for YBA
  docs/content/preview/yugabyte-platform/alerts-monitoring/_index.md
  docs/content/preview/yugabyte-platform/alerts-monitoring/live-queries-dashboard.md
  docs/content/preview/yugabyte-platform/alerts-monitoring/performance-advisor.md
  docs/content/preview/yugabyte-platform/alerts-monitoring/slow-queries-dashboard.md
  docs/static/images/yp/alerts-monitoring/perf-advisor/perf-advisor-overview.png
  docs/static/images/yp/alerts-monitoring/perf-advisor/perf-recommendations.png
Labels: area/documentation

#16951 [docs] [yba] added aws graviton instance type
  docs/content/preview/deploy/checklist.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/supported-os-and-arch.md
Labels: area/documentation

#17128 [docs][yba] Update alert configuration
  docs/content/preview/yugabyte-platform/alerts-monitoring/_index.md
  docs/content/preview/yugabyte-platform/alerts-monitoring/alert.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/alert-policy-templates.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-alerts-health-check.md
Labels: area/documentation

#17231 [docs] Remove tablegroup references
  docs/content/preview/admin/ysqlsh-meta-commands.md
  docs/content/preview/architecture/docdb-replication/async-replication.md
  docs/content/preview/explore/ysql-language-features/_index.md
  docs/content/preview/manage/backup-restore/point-in-time-recovery.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-alerts-health-check.md
Labels: area/documentation

#17246 [docs] Change colocated syntax DB-6362
  docs/content/preview/api/ysql/syntax_resources/grammar_diagrams.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/create_database,create_database_options.diagram.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/create_database,create_database_options.grammar.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/create_table,table_elem,column_constraint,table_constraint,key_columns,hash_columns,range_columns,storage_parameters,storage_parameter,index_parameters,references_clause,split_row.diagram.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/create_table,table_elem,column_constraint,table_constraint,key_columns,hash_columns,range_columns,storage_parameters,storage_parameter,index_parameters,references_clause,split_row.grammar.md
  docs/content/preview/api/ysql/syntax_resources/ysql_grammar.ebnf
  docs/content/preview/api/ysql/the-sql-language/statements/ddl_create_database.md
  docs/content/preview/api/ysql/the-sql-language/statements/ddl_create_matview.md
  docs/content/preview/api/ysql/the-sql-language/statements/ddl_create_table.md
  docs/content/preview/architecture/docdb-sharding/colocated-tables.md
  docs/content/preview/architecture/docdb/persistence.md
  docs/content/preview/manage/data-migration/bulk-export-ysql.md
  docs/content/preview/yugabyte-platform/create-deployments/dedicated-master.md
Labels: area/documentation

#17265 [docs] release notes for 2.16.4.0
  docs/content/preview/releases/release-notes/v2.16.md
  docs/content/preview/releases/yba-releases/v2.16.md
  docs/data/currentVersions.json
Labels: area/documentation

#17036 [docs][YBA] Update configure providers
  docs/content/preview/yugabyte-platform/_index.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/_index.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/backup-target.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/aws.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/azure.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/gcp.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/kubernetes.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/on-premises.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/openshift.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/vmware-tanzu.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prepare-environment/aws.md
  docs/static/images/ee/aws-setup/aws_custom_region.png
  docs/static/images/ee/aws-setup/aws_new_region.png
  docs/static/images/ee/aws-setup/aws_provider_empty.png
  docs/static/images/ee/gcp-setup/gcp-configure-success.png
  docs/static/images/yb-platform/config/yba-aws-config-create.png
  docs/static/images/yb-platform/config/yba-azure-config-create.png
  docs/static/images/yb-platform/config/yba-gcp-config-create.png
  docs/static/images/yb-platform/config/yba-kub-config-create.png
  docs/static/images/yb-platform/config/yba-onp-config-create.png
  docs/static/images/yb-platform/kubernetes-config-autofill.png
Labels: area/documentation

#17176 [docs][yba] Add instructions for using YBA Installer
  docs/content/preview/yugabyte-platform/_index.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/_index.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/install-software/airgapped.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/install-software/default.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/install-software/installer.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/install-software/kubernetes.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/install-software/openshift.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/install/kubernetes.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/install/private-cloud.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/install/public-cloud.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prepare-environment/aws.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prepare-environment/azure.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prepare-environment/gcp.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prepare-environment/kubernetes.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prepare-environment/on-premises.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prepare-environment/openshift.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prepare-on-prem-nodes.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prerequisites/default.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prerequisites/installer.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prerequisites/kubernetes.md
Labels: area/documentation

#17030 [docs] CDC outline and hierarchy
  docs/content/preview/explore/change-data-capture/_index.md
  docs/content/preview/explore/change-data-capture/cdc-get-started.md
  docs/content/preview/explore/change-data-capture/cdc-monitor.md
  docs/content/preview/explore/change-data-capture/cdc-overview.md
  docs/content/preview/explore/change-data-capture/cdc-tutorials/_index.md
  docs/content/preview/explore/change-data-capture/cdc-tutorials/cdc-aws-msk.md
  docs/content/preview/explore/change-data-capture/cdc-tutorials/cdc-azure-event-hub.md
  docs/content/preview/explore/change-data-capture/cdc-tutorials/cdc-confluent-cloud.md
  docs/content/preview/explore/change-data-capture/cdc-tutorials/cdc-redpanda.md
  docs/content/preview/explore/change-data-capture/debezium-connector-yugabytedb.md
  docs/static/images/explore/cdc-overview-what.png
  docs/static/images/explore/cdc-overview-work.png
  docs/static/images/explore/cdc-overview-work2.png
  docs/static/images/explore/cdc-overview-work3.png
  docs/static/images/explore/cdc/aws_msk_images/amazon-brokers.png
  docs/static/images/explore/cdc/aws_msk_images/amazon-msk-create-cluster.png
  docs/static/images/explore/cdc/aws_msk_images/amazon-s3-logging.png
  docs/static/images/explore/cdc/aws_msk_images/amazon-security-groups.png
  docs/static/images/explore/cdc/aws_msk_images/architecture.jpg
  docs/static/images/explore/cdc/aws_msk_images/edit-inbound-rules.png
  docs/static/images/explore/cdc/aws_msk_images/msk-cluster-settings.png
  docs/static/images/explore/cdc/aws_msk_images/upload-to-s3.png
  docs/static/images/explore/cdc/aws_redshift_images/Redshift_QueryPanel.jpg
  docs/static/images/explore/cdc/aws_redshift_images/cluster_configuration.jpg
  docs/static/images/explore/cdc/aws_redshift_images/custom_plugin_awsredshift.jpg
  docs/static/images/explore/cdc/aws_redshift_images/fig1_end_2_end_architecture.jpg
  docs/static/images/explore/cdc/aws_redshift_images/redshift_view_query.jpg
  docs/static/images/explore/cdc/aws_redshift_images/worker_configuration.jpg
  docs/static/images/explore/cdc/confluent_images/cdc_confluent_cloud.png
  docs/static/images/explore/cdc/eventhub_images/azeh_adls_end_2_end_architecture.jpg
  docs/static/images/explore/cdc/redpanda_images/Fig2_Redpand_Docker_Container.jpg
  docs/static/images/explore/cdc/redpanda_images/Monitor1.jpg
  docs/static/images/explore/cdc/redpanda_images/Monitor2.jpg
  docs/static/images/explore/cdc/redpanda_images/Redpanda_Integration.jpg
  docs/static/images/section_icons/develop/ecosystem/amazon-msk.png
  docs/static/images/section_icons/develop/ecosystem/amazon-redshift.png
  docs/static/images/section_icons/develop/ecosystem/azure-event-hub.png
  docs/static/images/section_icons/develop/ecosystem/confluent-cloud.jpg
  docs/static/images/section_icons/develop/ecosystem/google-pub-sub.png
  docs/static/images/section_icons/develop/ecosystem/redpanda.svg
Labels: area/documentation

#17183 [docs] Fix list_tablets command for yb-admin.md
  docs/content/preview/admin/yb-admin.md
  docs/content/stable/admin/yb-admin.md
  docs/content/v2.12/admin/yb-admin.md
  docs/content/v2.14/admin/yb-admin.md
  docs/content/v2.8/admin/yb-admin.md
Labels: area/documentation

#17209 [docs] Add note that releasing a savepoint will release all savepoints created after it.
  docs/content/preview/api/ysql/the-sql-language/statements/savepoint_release.md
Labels: area/documentation

#17215 [docs] Explain that `ybrowid` is used for PRIMARY KEY when one is not defined in YSQL `CREATE TABLE` query
  docs/content/preview/api/ysql/the-sql-language/statements/ddl_create_table.md
Labels: area/documentation

#17372 [docs] Fix broken links and minor issues
  docs/content/preview/api/ysql/_index.md
  docs/content/preview/api/ysql/cursors.md
  docs/content/preview/api/ysql/name-resolution-in-top-level-sql.md
  docs/content/preview/api/ysql/names-and-identifiers.md
  docs/content/preview/api/ysql/the-sql-language/statements/_index.md
  docs/content/preview/api/ysql/the-sql-language/statements/ddl_create_index.md
  docs/content/preview/api/ysql/the-sql-language/statements/dml_declare.md
  docs/content/preview/api/ysql/txn-model-for-top-level-sql.md
  docs/content/preview/api/ysql/user-defined-subprograms-and-anon-blocks/_index.md
  docs/content/preview/api/ysql/user-defined-subprograms-and-anon-blocks/commit-in-user-defined-subprograms.md
  docs/content/preview/api/ysql/user-defined-subprograms-and-anon-blocks/language-plpgsql-subprograms/_index.md
  docs/content/preview/api/ysql/user-defined-subprograms-and-anon-blocks/language-plpgsql-subprograms/plpgsql-execution-model.md
  docs/content/preview/api/ysql/user-defined-subprograms-and-anon-blocks/language-plpgsql-subprograms/plpgsql-syntax-and-semantics.md
  docs/content/preview/api/ysql/user-defined-subprograms-and-anon-blocks/language-sql-subprograms.md
  docs/content/preview/api/ysql/user-defined-subprograms-and-anon-blocks/name-resolution-in-subprograms.md
  docs/content/preview/api/ysql/user-defined-subprograms-and-anon-blocks/pg-proc-catalog-table.md
  docs/content/preview/api/ysql/user-defined-subprograms-and-anon-blocks/subprogram-attributes/alterable-function-only-attributes/immutable-function-examples.md
  docs/content/preview/api/ysql/user-defined-subprograms-and-anon-blocks/subprogram-overloading.md
  docs/content/preview/api/ysql/user-defined-subprograms-and-anon-blocks/variadic-and-polymorphic-subprograms.md
  docs/content/preview/drivers-orms/java/_index.md
  docs/content/preview/drivers-orms/orms/php/ysql-laravel.md
  docs/content/preview/drivers-orms/php/laravel.md
  docs/content/stable/api/ysql/user-defined-subprograms-and-anon-blocks/_index.md
  docs/content/stable/drivers-orms/java/_index.md
  docs/content/v2.16/drivers-orms/java/_index.md
Labels: area/documentation

#17216 [docs] Add `UNIQUE` to YCQL `CREATE INDEX` grammar & diagrams
  docs/content/preview/api/ycql/ddl_create_index.md
  docs/content/preview/api/ycql/grammar_diagrams.md
  docs/content/preview/api/ycql/syntax_resources/ycql_grammar.ebnf
Labels: area/documentation

#17322 [docs] added details about import data file with S3
  docs/content/preview/migrate/migrate-steps.md
  docs/content/preview/migrate/reference/yb-voyager-cli.md
Labels: area/documentation

#17390 [docs] Hide H4s in SQL statement pages #15408
  docs/content/preview/api/ysql/the-sql-language/statements/_index.md
  docs/content/stable/api/ysql/the-sql-language/statements/_index.md
  docs/content/v2.12/api/ysql/the-sql-language/statements/_index.md
  docs/content/v2.14/api/ysql/the-sql-language/statements/_index.md
  docs/content/v2.16/api/ysql/the-sql-language/statements/_index.md
  docs/content/v2.8/api/ysql/the-sql-language/statements/_index.md
Labels: area/documentation

#17377 [docs][yba] Port changes to stable
  docs/content/preview/yugabyte-platform/_index.md
  docs/content/stable/yugabyte-platform/_index.md
  docs/content/stable/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/on-premises.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/airgapped.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/default.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/installer.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/kubernetes.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/install-software/openshift.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/prerequisites/default.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/prerequisites/installer.md
Labels: area/documentation

#17397 [docs][ybm] Edit to EAR intro
  docs/content/preview/yugabyte-cloud/cloud-secure-clusters/managed-ear.md
Labels: area/documentation

#17402 [docs] added third party licenses for missed release versions
  docs/content/preview/releases/release-notes/v2.16.md
  docs/content/preview/releases/release-notes/v2.17.md
  docs/content/preview/releases/release-notes/v2.18.md
  docs/content/preview/releases/yba-releases/v2.16.md
  docs/content/preview/releases/yba-releases/v2.17.md
Labels: area/documentation

#17407 [docs] Fix links in stable
  docs/content/preview/drivers-orms/php/laravel.md
  docs/content/stable/api/ysql/name-resolution-in-top-level-sql.md
  docs/content/stable/api/ysql/user-defined-subprograms-and-anon-blocks/language-plpgsql-subprograms/plpgsql-execution-model.md
  docs/content/stable/api/ysql/user-defined-subprograms-and-anon-blocks/pg-proc-catalog-table.md
  docs/content/stable/api/ysql/user-defined-subprograms-and-anon-blocks/subprogram-attributes/alterable-function-only-attributes/immutable-function-examples.md
  docs/content/stable/drivers-orms/orms/php/ysql-laravel.md
  docs/content/stable/drivers-orms/php/laravel.md
Labels: area/documentation

#17337 [docs] [ycql] CREATE INDEX with tablets
  docs/content/preview/api/ycql/ddl_create_index.md
  docs/content/preview/api/ycql/grammar_diagrams.md
  docs/content/preview/api/ycql/syntax_resources/ycql_grammar.ebnf
  docs/content/stable/api/ycql/ddl_create_index.md
  docs/content/stable/api/ycql/syntax_resources/ycql_grammar.ebnf
Labels: area/documentation

#17341 [docs] Fix typo in sentence in server-to-server encryption
  docs/content/preview/secure/tls-encryption/server-to-server.md
Labels: area/documentation

#17345 [docs] Put inside Note that `yugabyted` is not production ready.
  docs/content/preview/explore/_index.md
  docs/content/preview/reference/configuration/yugabyted.md
Labels: area/documentation

#17410 [docs][yba] Add redirects for YBA HA pages
  docs/netlify.toml
Labels: area/documentation

#17466 [docs][ybm] Remove Beta tags from Perf and PSE
  docs/content/preview/yugabyte-cloud/cloud-basics/cloud-vpcs/cloud-add-endpoint.md
  docs/content/preview/yugabyte-cloud/cloud-monitor/cloud-advisor.md
Labels: area/documentation

#17348 [docs] Explain enabling `pg_hint_plan` for all sessions using `ysql_pg_conf_csv` flag
  docs/content/preview/explore/query-1-performance/pg-hint-plan.md
  docs/content/stable/explore/query-1-performance/pg-hint-plan.md
Labels: area/documentation

#17450 [docs] Add grammar & diagram for `ALTER TABLE RENAME CONSTRAINT`
  docs/content/preview/api/ysql/syntax_resources/grammar_diagrams.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/alter_table,alter_table_action,alter_table_constraint,alter_column_constraint,table_expr.diagram.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/alter_table,alter_table_action,alter_table_constraint,alter_column_constraint,table_expr.grammar.md
  docs/content/preview/api/ysql/syntax_resources/ysql_grammar.ebnf
  docs/content/preview/api/ysql/the-sql-language/statements/ddl_alter_table.md
Labels: area/documentation

#17467 Removed all code examples that case the 'not supported yet' ERROR.
  docs/content/preview/api/ysql/cursors.md
  docs/content/preview/api/ysql/syntax_resources/grammar_diagrams.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/alter_sequence,name,alter_sequence_options.diagram.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/create_index,index_elem.diagram.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/create_schema_name,create_schema_role,role_specification.diagram.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/create_table,table_elem,column_constraint,table_constraint,key_columns,hash_columns,range_columns,storage_parameters,storage_parameter,index_parameters,references_clause,split_row.diagram.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/revoke_table,revoke_table_col,revoke_seq,revoke_db,revoke_domain,revoke_schema,revoke_type,revoke_role.diagram.md
  docs/content/preview/api/ysql/the-sql-language/statements/dml_close.md
  docs/content/preview/api/ysql/the-sql-language/statements/dml_declare.md
  docs/content/preview/api/ysql/the-sql-language/statements/dml_fetch.md
  docs/content/preview/api/ysql/the-sql-language/statements/dml_move.md
Labels: area/documentation

#17421 [docs] Format and backport to stable
  docs/content/preview/reference/configuration/yugabyted.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/aws.md
  docs/content/stable/explore/_index.md
  docs/content/stable/reference/configuration/yugabyted.md
  docs/content/stable/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/aws.md
Labels: area/documentation

#15271 [docs] Add an example to audit logging docs for concurrent transactions
  docs/content/preview/secure/audit-logging/audit-logging-ysql.md
  docs/content/stable/secure/audit-logging/audit-logging-ysql.md
Labels: area/documentation

#17469 [docs] Add command `yb-admin compact_table_by_id`
  docs/content/preview/admin/yb-admin.md
  docs/content/stable/admin/yb-admin.md
Labels: area/documentation

#17472 [docs][yba] Add Automation docs for YBA
  docs/config/_default/menus.toml
  docs/content/preview/yugabyte-platform/administer-yugabyte-platform/_index.md
  docs/content/preview/yugabyte-platform/administer-yugabyte-platform/ldap-authentication.md
  docs/content/preview/yugabyte-platform/alerts-monitoring/_index.md
  docs/content/preview/yugabyte-platform/alerts-monitoring/live-queries-dashboard.md
  docs/content/preview/yugabyte-platform/anywhere-automation/_index.md
  docs/content/preview/yugabyte-platform/back-up-restore-universes/_index.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/_index.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/aws.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/kubernetes.md
  docs/content/preview/yugabyte-platform/create-deployments/_index.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/_index.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prerequisites/installer.md
  docs/content/preview/yugabyte-platform/manage-deployments/_index.md
  docs/content/preview/yugabyte-platform/security/_index.md
  docs/content/preview/yugabyte-platform/troubleshoot/_index.md
  docs/content/preview/yugabyte-platform/upgrade/_index.md
  docs/content/stable/yugabyte-platform/administer-yugabyte-platform/_index.md
  docs/content/stable/yugabyte-platform/anywhere-automation/_index.md
  docs/content/stable/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/kubernetes.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/prerequisites/installer.md
Labels: area/documentation

#17473 [docs] Backport "PostgreSQL Options" on yb-tserver.md to stable branch
  docs/content/preview/reference/configuration/yb-tserver.md
  docs/content/preview/secure/audit-logging/trace-statements-ysql.md
  docs/content/stable/reference/configuration/yb-tserver.md
  docs/content/stable/secure/audit-logging/trace-statements-ysql.md
Labels: area/documentation

#17456 [docs] Fix compact_table command & add some flags to yb-tserver
  docs/content/preview/admin/yb-admin.md
  docs/content/preview/reference/configuration/yb-tserver.md
  docs/content/stable/admin/yb-admin.md
  docs/content/stable/reference/configuration/yb-tserver.md
Labels: area/documentation

#17320 [docs] update MCS note and EA tags
  docs/content/preview/explore/change-data-capture/_index.md
  docs/content/preview/explore/change-data-capture/cdc-get-started.md
  docs/content/preview/explore/change-data-capture/cdc-monitor.md
  docs/content/preview/explore/change-data-capture/cdc-overview.md
  docs/content/preview/explore/change-data-capture/cdc-tutorials/_index.md
  docs/content/preview/explore/change-data-capture/cdc-tutorials/cdc-aws-msk.md
  docs/content/preview/explore/change-data-capture/cdc-tutorials/cdc-azure-event-hub.md
  docs/content/preview/explore/change-data-capture/cdc-tutorials/cdc-confluent-cloud.md
  docs/content/preview/explore/change-data-capture/cdc-tutorials/cdc-redpanda.md
  docs/content/preview/explore/change-data-capture/debezium-connector-yugabytedb.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/kubernetes.md
Labels: area/documentation

#17416 Update SelectTargetUniverseStep.tsx - fix note verbiage
  managed/ui/src/components/xcluster/createConfig/SelectTargetUniverseStep.tsx
Labels: area/platform

#17576 [docs] added EA to stable CDC docs
  docs/content/preview/integrations/cdc/debezium.md
  docs/content/stable/explore/change-data-capture/_index.md
  docs/content/stable/explore/change-data-capture/cdc-get-started.md
  docs/content/stable/explore/change-data-capture/cdc-monitor.md
  docs/content/stable/explore/change-data-capture/cdc-overview.md
  docs/content/stable/explore/change-data-capture/cdc-tutorials/_index.md
  docs/content/stable/explore/change-data-capture/cdc-tutorials/cdc-aws-msk.md
  docs/content/stable/explore/change-data-capture/cdc-tutorials/cdc-azure-event-hub.md
  docs/content/stable/explore/change-data-capture/cdc-tutorials/cdc-confluent-cloud.md
  docs/content/stable/explore/change-data-capture/cdc-tutorials/cdc-redpanda.md
  docs/content/stable/explore/change-data-capture/debezium-connector-yugabytedb.md
  docs/content/v2.14/explore/change-data-capture/_index.md
  docs/content/v2.14/explore/change-data-capture/debezium-connector-yugabytedb.md
  docs/content/v2.16/explore/change-data-capture/_index.md
  docs/content/v2.16/explore/change-data-capture/debezium-connector-yugabytedb.md
Labels: area/documentation

#17549 [docs] Add dump tool locations
  docs/config/_default/menus.toml
  docs/content/preview/admin/yb-ctl.md
  docs/content/preview/admin/yb-ts-cli.md
  docs/content/preview/admin/ysql-dump.md
  docs/content/preview/admin/ysql-dumpall.md
  docs/content/preview/yugabyte-cloud/managed-automation/_index.md
  docs/content/preview/yugabyte-platform/anywhere-automation/_index.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/_index.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/kubernetes.md
  docs/content/preview/yugabyte-platform/configure-yugabyte-platform/supported-os-and-arch.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prepare-environment/on-premises.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prerequisites/default.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prerequisites/installer.md
  docs/content/preview/yugabyte-platform/install-yugabyte-platform/prerequisites/kubernetes.md
  docs/content/stable/yugabyte-platform/anywhere-automation/_index.md
  docs/content/stable/yugabyte-platform/configure-yugabyte-platform/_index.md
  docs/content/stable/yugabyte-platform/configure-yugabyte-platform/set-up-cloud-provider/kubernetes.md
  docs/content/stable/yugabyte-platform/configure-yugabyte-platform/supported-os-and-arch.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/prepare-environment/on-premises.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/prerequisites/default.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/prerequisites/installer.md
  docs/content/stable/yugabyte-platform/install-yugabyte-platform/prerequisites/kubernetes.md
Labels: area/documentation

#17577 [docs] removed a Github issue from limitations
  docs/content/preview/architecture/docdb/persistence.md
  docs/content/stable/architecture/docdb/persistence.md
Labels: area/documentation

#17605 [docs] RN for 2.16.5.0
  docs/content/preview/releases/release-notes/v2.16.md
  docs/content/preview/releases/yba-releases/v2.16.md
  docs/data/currentVersions.json
Labels: area/documentation

#17609 update 'contribute/docs/syntax-diagrams.md' for new convention to mak…
  docs/content/preview/api/ysql/syntax_resources/grammar_diagrams.md
  docs/content/preview/api/ysql/syntax_resources/the-sql-language/statements/alter_table,alter_table_action,alter_table_constraint,alter_column_constraint,table_expr.diagram.md
  docs/content/preview/api/ysql/the-sql-language/creating-and-using-temporary-schema-objects/on-demand-paradigm-for-creating-temporary-objects.md
  docs/content/preview/contribute/docs/syntax-diagrams.md
Labels: area/documentation

#17602 [docs] Remove note that says range sharded tablets can't be manually split
  docs/content/preview/admin/yb-admin.md
  docs/content/stable/admin/yb-admin.md
  docs/content/v2.12/admin/yb-admin.md
  docs/content/v2.14/admin/yb-admin.md
  docs/content/v2.16/admin/yb-admin.md
Labels: area/documentation

#17594 docs: fix link to `DROP_TYPE` link in YCQL create type page
  docs/content/preview/api/ycql/ddl_create_type.md
  docs/content/stable/api/ycql/ddl_create_type.md
  docs/content/v2.12/api/ycql/ddl_create_type.md
  docs/content/v2.14/api/ycql/ddl_create_type.md
  docs/content/v2.16/api/ycql/ddl_create_type.md
  docs/content/v2.8/api/ycql/ddl_create_type.md
Labels: area/documentation, area/ycql

#17588 [Docs] Change all page tabs when single tab is changed
  docs/src/index.js
Labels: area/documentation

#17439 [docs] Add HypoPG extension
  docs/content/preview/explore/ysql-language-features/pg-extensions.md
Labels: area/documentation
