Repository yugabyte/yugabyte-db, pull requests merged in 2023-02, with the labels that each got.

#15750 [docs] Packed Rows
  docs/content/preview/architecture/docdb/persistence.md
  docs/content/preview/reference/configuration/yb-tserver.md
Labels: area/documentation

#15823 [docs][cloud] Staging best practices
  docs/content/preview/yugabyte-cloud/cloud-basics/create-clusters-overview.md
  docs/content/preview/yugabyte-cloud/cloud-basics/create-clusters/create-clusters-free.md
  docs/content/preview/yugabyte-cloud/cloud-clusters/cloud-maintenance.md
Labels: area/documentation

#15915 [docs] release 2.16.1.0
  docs/content/preview/migrate/reference/yb-voyager-cli.md
  docs/content/preview/releases/release-notes/v2.16.md
  docs/content/v2.8/quick-start/build-apps/nodejs/ycql.md
  docs/data/currentVersions.json
Labels: area/documentation

#14827 [Docs][#14750] Document YSQL yb_server_* funcs
  docs/content/preview/api/ysql/exprs/_index.md
  docs/content/preview/api/ysql/exprs/geo_partitioning_helper_functions/_index.md
  docs/content/preview/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_is_local_table.md
  docs/content/preview/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_cloud.md
  docs/content/preview/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_region.md
  docs/content/preview/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_zone.md
  docs/content/preview/explore/multi-region-deployments/row-level-geo-partitioning.md
  docs/content/stable/api/ysql/exprs/_index.md
  docs/content/stable/api/ysql/exprs/geo_partitioning_helper_functions/_index.md
  docs/content/stable/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_is_local_table.md
  docs/content/stable/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_cloud.md
  docs/content/stable/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_region.md
  docs/content/stable/api/ysql/exprs/geo_partitioning_helper_functions/func_yb_server_zone.md
  docs/content/stable/explore/multi-region-deployments/row-level-geo-partitioning.md
Labels: area/documentation

#15922 [docs] [integrations] akka persistence edits
  docs/content/preview/integrations/_index.md
  docs/content/preview/integrations/akka-ycql.md
  docs/content/preview/integrations/akka-ysql.md
Labels: area/documentation

#15837 [docs][explore] Multi region sync cluster with preferred
  docs/content/preview/develop/learn/date-and-time-ysql.md
  docs/content/preview/drivers-orms/smart-drivers.md
  docs/content/preview/explore/_index.md
  docs/content/preview/explore/linear-scalability/sharding-data.md
  docs/content/preview/explore/multi-region-deployments/synchronous-replication-cloud.md
  docs/content/preview/explore/multi-region-deployments/synchronous-replication-ycql.md
  docs/content/preview/explore/multi-region-deployments/synchronous-replication-ysql.md
  docs/content/preview/faq/general.md
  docs/content/preview/yugabyte-cloud/cloud-basics/create-clusters-topology.md
  docs/static/images/ce/multisync-managed-charts-preferred.png
  docs/static/images/ce/multisync-managed-charts.png
  docs/static/images/ce/multisync-managed-nodes-preferred.png
  docs/static/images/ce/multisync-managed-nodes.png
  docs/static/images/ce/online-reconfig-multi-zone-load.png
  docs/static/images/ce/online-reconfig-multi-zone-pref-load.png
  docs/static/images/ce/online-reconfig-multi-zone-tservers.png
Labels: area/documentation

#15903 [docs] modified incorrect code syntax for postgres jdbc page
  docs/content/preview/drivers-orms/java/postgres-jdbc.md
  docs/content/preview/faq/smart-drivers-faq.md
  docs/content/stable/drivers-orms/java/postgres-jdbc.md
  docs/content/v2.14/drivers-orms/java/postgres-jdbc.md
  docs/content/v2.14/drivers-orms/java/yugabyte-jdbc.md
Labels: area/documentation

#15963 [docs] Connection pool timeout
  docs/content/preview/develop/best-practices-ycql.md
  docs/content/preview/drivers-orms/java/_index.md
  docs/content/preview/drivers-orms/smart-drivers.md
Labels: area/documentation

#16013 [docs] follow-up changes to the YCQL transactions page
  docs/content/preview/api/ycql/dml_transaction.md
  docs/content/stable/api/ycql/dml_transaction.md
  docs/content/v2.12/api/ycql/dml_transaction.md
  docs/content/v2.14/api/ycql/dml_transaction.md
Labels: area/documentation

#15946 [docs] [CLOUDGA-9257] Free trial page
  docs/content/_index.md
  docs/content/preview/faq/yugabytedb-managed-faq.md
  docs/content/preview/yugabyte-cloud/_index.md
  docs/content/preview/yugabyte-cloud/cloud-basics/create-clusters-overview.md
  docs/content/preview/yugabyte-cloud/cloud-basics/create-clusters/create-clusters-free.md
  docs/content/preview/yugabyte-cloud/cloud-basics/create-clusters/create-single-region.md
  docs/content/preview/yugabyte-cloud/cloud-quickstart/_index.md
  docs/content/preview/yugabyte-cloud/managed-freetrial.md
  docs/static/images/yb-cloud/managed-trial.png
Labels: area/documentation, temp/docs-migration

#15968 [docs][DB-5232] changes to the YCQL Snapshot based backup/restore document
  docs/content/preview/manage/backup-restore/snapshot-ysql.md
  docs/content/preview/manage/backup-restore/snapshots-ycql.md
  docs/content/stable/manage/backup-restore/snapshot-ysql.md
  docs/content/stable/manage/backup-restore/snapshots-ycql.md
  docs/content/v2.14/manage/backup-restore/snapshot-ysql.md
  docs/content/v2.14/manage/backup-restore/snapshots-ycql.md
Labels: area/documentation

#16026 [docs] [DOC-3] add python prereq to the docs build
  docs/content/preview/contribute/docs/docs-build.md
Labels: area/documentation, temp/docs-migration

#16014 [docs] corrected syntax for bulk export page
  docs/content/preview/manage/data-migration/bulk-export-ysql.md
  docs/content/stable/manage/data-migration/bulk-export-ysql.md
  docs/content/v2.14/manage/data-migration/bulk-export-ysql.md
Labels: area/documentation

#16019 [docs] Improve coredb Java instructions
  docs/content/preview/contribute/core-database/build-from-src-centos.md
  docs/content/preview/contribute/core-database/build-from-src-macos.md
  docs/content/preview/contribute/core-database/build-from-src-ubuntu.md
  docs/content/preview/contribute/core-database/includes/java.md
Labels: area/documentation

#16067 [DOC-10] added a limitation for read replicas
  docs/content/preview/yugabyte-cloud/cloud-clusters/managed-read-replica.md
Labels: area/documentation

#16071 [docs] release 2.16.1.1
  docs/config/_default/menus.toml
  docs/content/preview/_index.md
  docs/content/preview/faq/general.md
  docs/content/preview/releases/_index.md
  docs/content/preview/releases/release-notes/v2.11.md
  docs/content/preview/releases/release-notes/v2.12.md
  docs/content/preview/releases/release-notes/v2.13.md
  docs/content/preview/releases/release-notes/v2.14.md
  docs/content/preview/releases/release-notes/v2.15.md
  docs/content/preview/releases/release-notes/v2.16.md
  docs/content/preview/releases/release-notes/v2.17.md
  docs/content/preview/releases/yba-releases/_index.md
  docs/content/preview/releases/yba-releases/v2.16.md
  docs/content/preview/releases/yba-releases/v2.17.md
  docs/data/currentVersions.json
Labels: area/documentation, temp/docs-migration

#16095 [docs] misc YBM updates
  docs/content/preview/yugabyte-cloud/cloud-quickstart/_index.md
  docs/content/preview/yugabyte-cloud/release-notes.md
Labels: area/documentation, temp/docs-migration

#16053 [docs][DOC-5] release notes for 2.12.12.0
  docs/content/preview/releases/release-notes/v2.12.md
  docs/data/currentVersions.json
Labels: area/documentation, temp/docs-migration

#16074 [docs] Fix coredb contribute instructions for centos
  docs/content/preview/contribute/core-database/build-from-src-centos.md
Labels: area/documentation

#15556 Add issue template for CDC issues
  .github/ISSUE_TEMPLATE/cdc.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/ui.yml
Labels: area/cdcsdk

#15918 [docs] [develop] SSL steps for python YCQL driver
  docs/content/preview/drivers-orms/python/ycql.md
Labels: area/documentation

#16187 [docs] removed usage of YEDIS API in Cassandra comparisons
  docs/content/preview/faq/comparisons/cassandra.md
Labels: area/documentation

#16152 [docs] Python SSL section for YCQL driver
  docs/content/preview/drivers-orms/python/ycql.md
Labels: area/documentation

#15906 [docs] Smart driver topology fallback and server refresh
  docs/content/preview/drivers-orms/go/yb-pgx.md
  docs/content/preview/drivers-orms/java/yugabyte-jdbc.md
  docs/content/preview/drivers-orms/nodejs/yugabyte-node-driver.md
  docs/content/preview/drivers-orms/python/yugabyte-psycopg2.md
  docs/content/preview/drivers-orms/smart-drivers.md
  docs/content/preview/faq/smart-drivers-faq.md
  docs/content/preview/reference/drivers/csharp/postgres-npgsql-reference.md
  docs/content/preview/reference/drivers/go/yb-pgx-reference.md
  docs/content/preview/reference/drivers/java/yugabyte-jdbc-reference.md
  docs/content/preview/reference/drivers/nodejs/yugabyte-pg-reference.md
  docs/content/preview/reference/drivers/python/yugabyte-psycopg2-reference.md
Labels: area/documentation, temp/docs-migration

#16153 [docs] Fix coredb contribute instructions for ubuntu
  docs/content/preview/contribute/core-database/build-from-src-almalinux.md
  docs/content/preview/contribute/core-database/build-from-src-centos.md
  docs/content/preview/contribute/core-database/build-from-src-macos.md
  docs/content/preview/contribute/core-database/build-from-src-ubuntu.md
  docs/content/preview/contribute/core-database/includes/ulimit.md
  docs/content/preview/contribute/core-database/includes/yugabyted-ui.md
Labels: area/documentation

#16228 PR for YBM Read Replica docs should point to core Read Replica docs
  docs/content/preview/architecture/transactions/single-row-transactions.md
  docs/content/preview/explore/multi-region-deployments/_index.md
  docs/content/preview/explore/multi-region-deployments/read-replicas-ycql.md
  docs/content/preview/explore/multi-region-deployments/synchronous-replication-cloud.md
  docs/content/preview/explore/multi-region-deployments/synchronous-replication-yba.md
  docs/content/preview/explore/multi-region-deployments/synchronous-replication-ysql.md
  docs/content/preview/explore/ysql-language-features/going-beyond-sql/follower-reads-ysql.md
  docs/content/preview/yugabyte-cloud/cloud-basics/create-clusters-topology.md
  docs/content/preview/yugabyte-cloud/cloud-clusters/managed-read-replica.md
Labels: area/documentation

#16198 [docs] revised statement in bulk export to mention PK support
  docs/content/preview/manage/data-migration/bulk-export-ysql.md
  docs/content/stable/manage/data-migration/bulk-export-ysql.md
Labels: area/documentation
