Repository yugabyte/yugabyte-db, pull requests merged in 2025-06, with the labels that each got.

#27439 [DOC-789] Voyager docs for v2025.6.1
  docs/content/preview/yugabyte-voyager/introduction.md
  docs/content/preview/yugabyte-voyager/migrate/assess-migration.md
  docs/content/preview/yugabyte-voyager/migrate/live-fall-back.md
  docs/content/preview/yugabyte-voyager/migrate/live-fall-forward.md
  docs/content/preview/yugabyte-voyager/reference/cutover-archive/cutover.md
  docs/content/preview/yugabyte-voyager/reference/data-migration/export-data.md
  docs/content/preview/yugabyte-voyager/reference/yb-voyager-cli.md
  docs/content/preview/yugabyte-voyager/release-notes.md
Labels: doc-voyager

#27451 [DOC-631] Update DBeaver Connectivity Docs
  docs/content/preview/integrations/tools/dbeaver-ycql.md
  docs/static/images/develop/tools/dbeaver/dbeaver-select-db-ycql.png
  docs/static/images/develop/tools/dbeaver/dbeaver-test-conn-ycql.png
  docs/static/images/develop/tools/dbeaver/dbeaver-ycql-system.png
Labels: area/documentation

#27524 [DOC-796] Add ysql connection manager limitations in doc
  docs/content/preview/explore/going-beyond-sql/connection-mgr-ysql.md
  docs/content/stable/explore/going-beyond-sql/connection-mgr-ysql.md
Labels: area/documentation

#27625 [doc] Inaccurate pricing in rate card
  docs/content/preview/yugabyte-cloud/cloud-admin/cloud-billing-costs-classic.md
  docs/content/preview/yugabyte-cloud/cloud-admin/cloud-billing-costs.md
Labels: area/documentation

#27385 [doc] Move some memory division details
  docs/content/preview/architecture/docdb-sharding/tablet-splitting.md
  docs/content/preview/reference/configuration/smart-defaults.md
  docs/content/preview/reference/configuration/yb-master.md
  docs/content/preview/reference/configuration/yb-tserver.md
Labels: area/documentation

#27606 [DOC-807] Added Release notes for 2024.2.3.1-b3
  docs/content/preview/releases/yba-releases/v2024.2.md
  docs/content/preview/releases/ybdb-releases/v2024.2.md
  docs/data/currentVersions.json
Labels: area/documentation

#27634 [docs] Use spaces on port number in `docker run -p` command
  docs/content/preview/tutorials/quick-start/docker.md
Labels: area/documentation

#25188 [doc][2025.1] auto analyze service
  docs/content/preview/architecture/query-layer/planner-optimizer.md
  docs/content/preview/explore/query-1-performance/_index.md
  docs/content/stable/architecture/query-layer/planner-optimizer.md
  docs/content/stable/explore/query-1-performance/_index.md
  docs/content/v2024.1/architecture/query-layer/planner-optimizer.md
  docs/content/v2025.1/api/ysql/the-sql-language/statements/cmd_analyze.md
  docs/content/v2025.1/architecture/query-layer/planner-optimizer.md
  docs/content/v2025.1/explore/query-1-performance/_index.md
  docs/content/v2025.1/explore/query-1-performance/auto-analyze.md
  docs/content/v2025.1/reference/configuration/yb-master.md
  docs/content/v2025.1/reference/configuration/yb-tserver.md
Labels: area/documentation

#25469 [docs] CDC: Add example for message structure when transformers are used.
  docs/content/preview/develop/change-data-capture/using-logical-replication/transformers.md
  docs/content/preview/develop/change-data-capture/using-yugabytedb-grpc-replication/yugabytedb-grpc-transformers.md
  docs/content/stable/develop/change-data-capture/using-logical-replication/transformers.md
  docs/content/stable/develop/change-data-capture/using-yugabytedb-grpc-replication/yugabytedb-grpc-transformers.md
  docs/content/v2.20/explore/change-data-capture/yugabytedb-grpc-transformers.md
  docs/content/v2024.1/develop/change-data-capture/using-logical-replication/transformers.md
  docs/content/v2024.1/develop/change-data-capture/using-yugabytedb-grpc-replication/yugabytedb-grpc-transformers.md
  docs/content/v2025.1/develop/change-data-capture/using-logical-replication/transformers.md
  docs/content/v2025.1/develop/change-data-capture/using-yugabytedb-grpc-replication/yugabytedb-grpc-transformers.md
Labels: area/documentation, area/cdc, area/cdcsdk

#27638 [DOC-813] Doc changes for Voyager v2025.6.2 -June 17
  docs/content/preview/yugabyte-voyager/known-issues/postgresql.md
  docs/content/preview/yugabyte-voyager/migrate/live-fall-back.md
  docs/content/preview/yugabyte-voyager/migrate/live-fall-forward.md
  docs/content/preview/yugabyte-voyager/migrate/live-migrate.md
  docs/content/preview/yugabyte-voyager/migrate/migrate-steps.md
  docs/content/preview/yugabyte-voyager/migrate/oracle.md
  docs/content/preview/yugabyte-voyager/release-notes.md
Labels: area/documentation

#27658 [DOC-760] Tweak pgcron text
  docs/content/preview/explore/ysql-language-features/pg-extensions/extension-pgcron.md
  docs/content/stable/explore/ysql-language-features/pg-extensions/extension-pgcron.md
  docs/content/v2025.1/explore/ysql-language-features/pg-extensions/extension-pgcron.md
Labels: area/documentation

#27706 [DOC-833] link fixes and added blogs to release pages
  docs/content/preview/releases/ybdb-releases/end-of-life/v2.19.md
  docs/content/preview/releases/ybdb-releases/end-of-life/v2.21-anywhere.md
  docs/content/preview/releases/ybdb-releases/end-of-life/v2.21.md
  docs/content/preview/releases/ybdb-releases/end-of-life/v2.23-anywhere.md
  docs/content/preview/releases/ybdb-releases/v2.25.md
  docs/content/preview/releases/ybdb-releases/v2024.1.md
Labels: area/documentation

#27694 [DOC-826] [2025.1] Removed EA from PostgreSQL Anonymizer extension
  docs/content/v2025.1/explore/ysql-language-features/pg-extensions/extension-pganon.md
Labels: area/documentation

#27708 Connection Manager stable docs flag update
  docs/content/stable/explore/going-beyond-sql/connection-mgr-ysql.md
  docs/content/v2025.1/explore/going-beyond-sql/connection-mgr-ysql.md
Labels: area/documentation

#27754 [docs] Release notes added for 2024.2.3.2-b6
  docs/content/preview/releases/yba-releases/v2024.2.md
  docs/content/preview/releases/ybdb-releases/v2024.2.md
  docs/data/currentVersions.json
Labels: area/documentation

#27755 [DOC-825] [2025.1] [EA->GA] Active session history changes
  docs/content/preview/explore/observability/active-session-history.md
  docs/content/preview/releases/ybdb-releases/v2.25.md
Labels: area/documentation

#27729 [DOC-811] [EA->GA] Kubernetes operator
  docs/content/v2025.1/deploy/kubernetes/single-zone/oss/yugabyte-operator.md
  docs/content/v2025.1/yugabyte-platform/anywhere-automation/_index.md
  docs/content/v2025.1/yugabyte-platform/anywhere-automation/yb-kubernetes-operator.md
  docs/content/v2025.1/yugabyte-platform/install-yugabyte-platform/install-software/kubernetes.md
  docs/content/v2025.1/yugabyte-platform/upgrade/upgrade-yp-kubernetes.md
Labels: area/documentation

#27743 [DOC-821] [DOC-822] [2025.1] Pgvector indexing is EA and Parallel queries is GA
  docs/content/preview/develop/postgresql-compatibility.md
  docs/content/stable/develop/postgresql-compatibility.md
  docs/content/v2025.1/develop/postgresql-compatibility.md
  docs/content/v2025.1/explore/ysql-language-features/advanced-features/parallel-query.md
  docs/content/v2025.1/explore/ysql-language-features/pg-extensions/extension-pgvector.md
Labels: area/documentation

#27753 [DOC-824] [TP->EA] [2025.1]Time travel query is EA
  docs/content/preview/reference/configuration/yb-tserver.md
  docs/content/v2025.1/manage/backup-restore/time-travel-query.md
Labels: area/documentation

#27680 [DOC-831][ybm] Add cdcsdk_flush_lag metric
  docs/content/preview/yugabyte-cloud/cloud-clusters/aeon-cdc.md
Labels: area/documentation

#27771 DOC-773 typo fix
  LICENSE.md
Labels: area/documentation

#27724 [DOC-818][yba][2025.1] Fine-grain RBAC GA
  docs/content/preview/yugabyte-platform/administer-yugabyte-platform/anywhere-rbac.md
  docs/content/preview/yugabyte-platform/administer-yugabyte-platform/ldap-authentication.md
  docs/content/preview/yugabyte-platform/administer-yugabyte-platform/oidc-authentication.md
  docs/content/stable/yugabyte-platform/administer-yugabyte-platform/anywhere-rbac.md
  docs/content/stable/yugabyte-platform/administer-yugabyte-platform/ldap-authentication.md
  docs/content/stable/yugabyte-platform/administer-yugabyte-platform/oidc-authentication.md
  docs/content/v2025.1/yugabyte-platform/administer-yugabyte-platform/anywhere-rbac.md
  docs/content/v2025.1/yugabyte-platform/administer-yugabyte-platform/ldap-authentication.md
  docs/content/v2025.1/yugabyte-platform/administer-yugabyte-platform/oidc-authentication.md
Labels: area/documentation

#27760 Update yugabyted public documentation for xCluster changes in 2025.1
  docs/content/preview/reference/configuration/yugabyted.md
  docs/content/v2025.1/reference/configuration/yugabyted.md
Labels: area/docdb

#27744 [DOC-823] [2025.1] Advisory locks is GA
  docs/content/v2025.1/explore/transactions/explicit-locking.md
  docs/content/v2025.1/reference/configuration/yb-master.md
  docs/content/v2025.1/reference/configuration/yb-tserver.md
Labels: area/documentation

#27678 [doc] Add documentation for Keycloak
  docs/content/preview/integrations/_index.md
  docs/content/preview/integrations/keycloak.md
  docs/static/images/develop/ecosystem-integrations/keycloak/keycloak-create-user.png
  docs/static/images/develop/ecosystem-integrations/keycloak/keycloak-open-admin-console.png
  docs/static/images/develop/ecosystem-integrations/keycloak/keycloak-sign-in.png
  docs/static/images/develop/ecosystem-integrations/keycloak/keycloak-welcome-page.png
Labels: area/documentation

#27782 [DOC-770] Update xCluster documentation for architecture limitations section
  docs/content/preview/admin/yb-admin.md
  docs/content/preview/api/ysql/exprs/sequence_functions/func_nextval.md
  docs/content/preview/api/ysql/exprs/sequence_functions/func_setval.md
  docs/content/preview/api/ysql/the-sql-language/statements/ddl_alter_table.md
  docs/content/preview/architecture/docdb-replication/async-replication.md
  docs/content/preview/launch-and-manage/monitor-and-alert/xcluster-monitor.md
  docs/content/v2025.1/admin/yb-admin.md
  docs/content/v2025.1/api/ysql/exprs/sequence_functions/func_nextval.md
  docs/content/v2025.1/api/ysql/exprs/sequence_functions/func_setval.md
  docs/content/v2025.1/api/ysql/the-sql-language/statements/ddl_alter_table.md
  docs/content/v2025.1/architecture/docdb-replication/async-replication.md
  docs/content/v2025.1/launch-and-manage/monitor-and-alert/xcluster-monitor.md
Labels: area/docdb

#27772 Update deploy public documentation for xCluster changes in 2025.1
  docs/content/preview/deploy/multi-dc/3dc-deployment.md
  docs/content/preview/deploy/multi-dc/_index.md
  docs/content/preview/deploy/multi-dc/async-replication/_index.md
  docs/content/preview/deploy/multi-dc/async-replication/async-replication-transactional.md
  docs/content/preview/deploy/multi-dc/async-replication/async-transactional-failover.md
  docs/content/preview/deploy/multi-dc/async-replication/async-transactional-setup-automatic.md
  docs/content/preview/deploy/multi-dc/async-replication/async-transactional-setup-manual.md
  docs/content/preview/deploy/multi-dc/async-replication/async-transactional-switchover.md
  docs/content/preview/deploy/multi-dc/async-replication/async-transactional-tables.md
  docs/content/preview/deploy/multi-dc/async-replication/includes/automatic-setup.md
  docs/content/preview/deploy/multi-dc/async-replication/includes/transactional-add-db.md
  docs/content/v2025.1/deploy/multi-dc/3dc-deployment.md
  docs/content/v2025.1/deploy/multi-dc/_index.md
  docs/content/v2025.1/deploy/multi-dc/async-replication/_index.md
  docs/content/v2025.1/deploy/multi-dc/async-replication/async-replication-transactional.md
  docs/content/v2025.1/deploy/multi-dc/async-replication/async-transactional-failover.md
  docs/content/v2025.1/deploy/multi-dc/async-replication/async-transactional-setup-automatic.md
  docs/content/v2025.1/deploy/multi-dc/async-replication/async-transactional-setup-manual.md
  docs/content/v2025.1/deploy/multi-dc/async-replication/async-transactional-switchover.md
  docs/content/v2025.1/deploy/multi-dc/async-replication/async-transactional-tables.md
  docs/content/v2025.1/deploy/multi-dc/async-replication/includes/automatic-setup.md
  docs/content/v2025.1/deploy/multi-dc/async-replication/includes/transactional-add-db.md
Labels: area/docdb

#27737 [DOC-828] [EA->GA] Bitmap scan support
  docs/content/preview/develop/postgresql-compatibility.md
  docs/content/preview/reference/configuration/yb-tserver.md
  docs/content/preview/releases/ybdb-releases/end-of-life/v2.23.md
  docs/content/v2024.1/develop/postgresql-compatibility.md
  docs/content/v2024.1/reference/configuration/yb-tserver.md
  docs/content/v2025.1/develop/postgresql-compatibility.md
  docs/content/v2025.1/reference/configuration/yb-tserver.md
Labels: area/documentation

#27778 [DOC-847] [2025.1] InsertOnConflict Batching config parameters
  docs/content/preview/api/ysql/the-sql-language/statements/dml_insert.md
  docs/content/preview/manage/data-migration/bulk-import-ysql.md
  docs/content/preview/reference/configuration/yb-tserver.md
  docs/content/stable/manage/data-migration/bulk-import-ysql.md
  docs/content/v2.20/manage/data-migration/bulk-import-ysql.md
  docs/content/v2024.1/manage/data-migration/bulk-import-ysql.md
  docs/content/v2025.1/api/ysql/the-sql-language/statements/dml_insert.md
  docs/content/v2025.1/manage/data-migration/bulk-import-ysql.md
  docs/content/v2025.1/reference/configuration/yb-tserver.md
Labels: area/documentation

#27787 [DOC-735][2025.1][yba] Add CipherTrust KMS config
  docs/content/v2025.1/yugabyte-platform/security/create-kms-config/aws-kms.md
  docs/content/v2025.1/yugabyte-platform/security/create-kms-config/azure-kms.md
  docs/content/v2025.1/yugabyte-platform/security/create-kms-config/ciphertrust-kms.md
  docs/content/v2025.1/yugabyte-platform/security/create-kms-config/google-kms.md
  docs/content/v2025.1/yugabyte-platform/security/create-kms-config/hashicorp-kms.md
  docs/static/images/yp/security/kms-ciphertrust-config.png
Labels: area/documentation

#27808 [doc][2025.1] Update doc with auth methods supported/non-supported by conn mgr
  docs/content/preview/explore/going-beyond-sql/connection-mgr-ysql.md
  docs/content/stable/explore/going-beyond-sql/connection-mgr-ysql.md
  docs/content/v2025.1/explore/going-beyond-sql/connection-mgr-ysql.md
Labels: area/documentation
